UI-NodeRed/flows.json
[
    {
        "id": "fa0109b3.e47ed8",
        "type": "tab",
        "label": "UI_SysMonitoring",
        "disabled": false,
        "info": ""
    },
    {
        "id": "995db953.1dbb18",
        "type": "tab",
        "label": "UI_SysControl",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6e40fab5.1057f4",
        "type": "tab",
        "label": "UI_Sensors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "98123e0c.aea32",
        "type": "tab",
        "label": "DB_Emulator",
        "disabled": true,
        "info": ""
    },
    {
        "id": "3f120659.f1e0ba",
        "type": "tab",
        "label": "MQTT_Emulater",
        "disabled": true,
        "info": ""
    },
    {
        "id": "56a5114c.9568b",
        "type": "tab",
        "label": "TestFlows",
        "disabled": true,
        "info": ""
    },
    {
        "id": "5cdf40c6.8d85a",
        "type": "redis-config",
        "z": "",
        "host": "localhost",
        "port": "6380",
        "dbase": "0",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "e845cbcc.63b5a8",
        "type": "redis-config",
        "z": "",
        "host": "localhost",
        "port": "6379",
        "dbase": "1",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "5fbc3cf0.917fa4",
        "type": "redis-config",
        "z": "",
        "host": "{{REDIS_SERVER}}",
        "port": "{{REDIS_PORT}}",
        "dbase": "{{REDIS_DB}}",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "31e7cf83.d893a",
        "type": "ui_group",
        "z": "",
        "name": "Stats",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "87430462.9c7e98",
        "type": "ui_group",
        "z": "",
        "name": "Driver",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "390b0307.f58fac",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#0ec1ca",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#0ec1ca",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0ec1ca",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#34e8f1",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0ec1ca",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 2,
                "py": 2
            }
        }
    },
    {
        "id": "4b146290.cdc09c",
        "type": "ui_group",
        "z": "",
        "name": "System Control",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c488c0b3.13cb1",
        "type": "ui_group",
        "z": "",
        "name": "Logfile",
        "tab": "",
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "a80a5d67.17a27",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c488c0b3.13cb1",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "fef0261c.c3acc8",
        "type": "ui_group",
        "z": "",
        "name": "Sensors",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "59bee567.831fac",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "87430462.9c7e98",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "2a130311.7d449c",
        "type": "redis-config",
        "z": "",
        "host": "localhost",
        "port": "6379",
        "dbase": "0",
        "pass": ""
    },
    {
        "id": "be61d9ec.1cf388",
        "type": "redis-config",
        "z": "",
        "host": "172.17.0.5",
        "port": "6379",
        "dbase": "0",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "7ad351dd.c8af1",
        "type": "redis-config",
        "z": "",
        "host": "localhost",
        "port": "6379",
        "dbase": "1",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "bcd379f.f3ee988",
        "type": "redis-config",
        "z": "",
        "host": "{{REDIS_SERVER}}",
        "port": "{{REDIS_PORT}}",
        "dbase": "{{REDIS_DB}}",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "5e2a3d33.a25224",
        "type": "ui_group",
        "z": "",
        "name": "Stats",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "22e1cd62.36fa62",
        "type": "ui_group",
        "z": "",
        "name": "Driver",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "41d6287a.f9f658",
        "type": "ui_group",
        "z": "",
        "name": "System Control",
        "tab": "574bc317.c025dc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9d163dfc.a6bc9",
        "type": "ui_group",
        "z": "",
        "name": "Vehicle Logfile",
        "tab": "574bc317.c025dc",
        "order": 10,
        "disp": true,
        "width": "10",
        "collapse": true
    },
    {
        "id": "574bc317.c025dc",
        "type": "ui_tab",
        "z": "",
        "name": "System Control",
        "icon": "settings",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c72ac61b.2790c8",
        "type": "ui_group",
        "z": "",
        "name": "CPU",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b228ca3d.112b08",
        "type": "mqtt-broker",
        "z": "",
        "name": "localMqttBroker",
        "broker": "localhost",
        "port": "1888",
        "clientid": "nodeRedSubscriber",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2dcb0be9.d2f244",
        "type": "mqtt-broker",
        "z": "",
        "name": "eclipse-mosquittoContainer",
        "broker": "172.17.0.5",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7a5c13cc.04dfac",
        "type": "mqtt-broker",
        "z": "",
        "name": " ea-pc165",
        "broker": "ea-pc165.ei.htwg-konstanz.de",
        "port": "8883",
        "clientid": "AutonomV",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d9c0cf1c.d639",
        "type": "ui_group",
        "z": "",
        "name": "Lidar",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "93a74900.821108",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "5e2a3d33.a25224",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "edbe98d0.20e298",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c72ac61b.2790c8",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "aa1b70da.8d6ae",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "718eadaf.de72e4",
        "type": "redis-config",
        "z": "",
        "host": "localhost",
        "port": "6380",
        "dbase": "0",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "b398f2b6.920db",
        "type": "redis-config",
        "z": "",
        "host": "localhost",
        "port": "6379",
        "dbase": "0",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "e61a7c48.326a6",
        "type": "redis-config",
        "z": "",
        "host": "{{REDIS_SERVER}}",
        "port": "{{REDIS_PORT}}",
        "dbase": "{{REDIS_DB}}",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "d1a63b08.7797d8",
        "type": "ui_group",
        "z": "",
        "name": "Stats",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2ce5ac37.86fb84",
        "type": "ui_group",
        "z": "",
        "name": "Driver",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "407586ed.d03ca8",
        "type": "ui_group",
        "z": "",
        "name": "System Control",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "806b0e58.7f48d",
        "type": "ui_group",
        "z": "",
        "name": "Logfile",
        "tab": "",
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "ab226cd6.cde61",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "806b0e58.7f48d",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "47f424da.32b37c",
        "type": "ui_group",
        "z": "",
        "name": "Sensors",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ed393003.f0e3b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "2ce5ac37.86fb84",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "504b5bf5.bbe984",
        "type": "redis-config",
        "z": "",
        "host": "localhost",
        "port": "6379",
        "dbase": "0",
        "pass": ""
    },
    {
        "id": "d6b95cd7.c019b",
        "type": "redis-config",
        "z": "",
        "host": "172.17.0.5",
        "port": "6379",
        "dbase": "0",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "4155c790.0db1f8",
        "type": "redis-config",
        "z": "",
        "host": "localhost",
        "port": "6379",
        "dbase": "1",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "5a7fad9b.cc7a94",
        "type": "redis-config",
        "z": "",
        "host": "{{REDIS_SERVER}}",
        "port": "{{REDIS_PORT}}",
        "dbase": "{{REDIS_DB}}",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "938c8911.ba5078",
        "type": "ui_tab",
        "z": "",
        "name": "System Monitoring",
        "icon": "fa-bar-chart",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "47d3571c.f85b38",
        "type": "ui_group",
        "z": "",
        "name": "Stats",
        "tab": "938c8911.ba5078",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "3e9debd6.4621d4",
        "type": "ui_group",
        "z": "",
        "name": "Driver",
        "tab": "938c8911.ba5078",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "861badff.243f8",
        "type": "ui_group",
        "z": "",
        "name": "System Control",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4b8c4fe6.c91f",
        "type": "ui_group",
        "z": "",
        "name": "Logfile",
        "tab": "",
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "3d0ea01d.7257a",
        "type": "ui_group",
        "z": "",
        "name": "CPU",
        "tab": "938c8911.ba5078",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5bc8c43c.ca3e8c",
        "type": "mqtt-broker",
        "z": "",
        "name": "localMqttBroker",
        "broker": "localhost",
        "port": "1888",
        "clientid": "nodeRedSubscriber",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "60a42a0d.645684",
        "type": "mqtt-broker",
        "z": "",
        "name": "eclipse-mosquittoContainer",
        "broker": "172.17.0.5",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fa22ef82.a2154",
        "type": "mqtt-broker",
        "z": "",
        "name": " ea-pc165",
        "broker": "ea-pc165.ei.htwg-konstanz.de",
        "port": "8883",
        "clientid": "AutonomV",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "cb3848a3.b24858",
        "type": "ui_group",
        "z": "",
        "name": "Lidar",
        "tab": "9c7a0d5b.24eb7",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "9c7a0d5b.24eb7",
        "type": "ui_tab",
        "z": "",
        "name": "Sensors",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9d2e3320.b8727",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "9c7a0d5b.24eb7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3e84c7f0.f4ccf8",
        "type": "ui_group",
        "z": "",
        "name": "Acceleration",
        "tab": "9c7a0d5b.24eb7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bcf776d6.788ea8",
        "type": "ui_group",
        "z": "",
        "name": "Pressure",
        "tab": "9c7a0d5b.24eb7",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "aabf76d4.6e3ba8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "1db3909f.06efef",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "39b37a15.35a9a6",
        "type": "ui_group",
        "z": "",
        "name": "Collision Avoidance",
        "tab": "574bc317.c025dc",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9b4ae6c0.9de688",
        "type": "ui_group",
        "z": "",
        "name": "Vehicle Services",
        "tab": "574bc317.c025dc",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "247ab503.19649a",
        "type": "ui_group",
        "z": "",
        "name": "Lidar Data Collection",
        "tab": "574bc317.c025dc",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3a14d7d1.c13988",
        "type": "ui_group",
        "z": "",
        "name": "Database Reader",
        "tab": "574bc317.c025dc",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e17bcb26.ca04d8",
        "type": "ui_group",
        "z": "",
        "name": "Database Writer",
        "tab": "574bc317.c025dc",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "419b4bd8.b29e14",
        "type": "ui_group",
        "z": "",
        "name": "Communication Services",
        "tab": "574bc317.c025dc",
        "order": 5,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "fb888fc.37a5b7",
        "type": "ui_group",
        "z": "",
        "name": "Network",
        "tab": "938c8911.ba5078",
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "bc6f2bde.c4d278",
        "type": "ui_group",
        "z": "",
        "name": "Communication Logfile",
        "tab": "574bc317.c025dc",
        "order": 11,
        "disp": true,
        "width": "10",
        "collapse": true
    },
    {
        "id": "b6e57e50.aa2e5",
        "type": "ui_group",
        "z": "",
        "name": "Gyro",
        "tab": "9c7a0d5b.24eb7",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "28dc87b8.08d648",
        "type": "ui_group",
        "z": "",
        "name": "Sensors",
        "tab": "574bc317.c025dc",
        "order": 8,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "7e81776d.48b858",
        "type": "ui_group",
        "z": "",
        "name": "RFID",
        "tab": "574bc317.c025dc",
        "order": 9,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "5b9c1d5f.a41454",
        "type": "redis-command",
        "z": "fa0109b3.e47ed8",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 516,
        "y": 304,
        "wires": [
            [
                "ea6c2495.293378"
            ]
        ]
    },
    {
        "id": "93a30aaa.8eec28",
        "type": "function",
        "z": "fa0109b3.e47ed8",
        "name": "JitterKey",
        "func": "msg.payload = ['sensors:collsionAvoidance:timing:collionControllExecutionTime:diffTimeNano']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 318.5,
        "y": 304,
        "wires": [
            [
                "5b9c1d5f.a41454"
            ]
        ]
    },
    {
        "id": "a5da7edc.243fa",
        "type": "inject",
        "z": "fa0109b3.e47ed8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "93a30aaa.8eec28",
                "80bb8da4.133cc",
                "7d47a6db.e210c8",
                "45ce437a.eac58c",
                "b2b8b748.558028",
                "b3c4ba8c.910568",
                "be898ef7.6ff1c",
                "36417470.97b7ec",
                "634ab87.80f5948",
                "dd1cc021.1e9df",
                "b23b8b1f.ca0638",
                "980e2db3.310dc",
                "74305007.72692",
                "59d0542e.7e024c",
                "2688327e.4a7cbe",
                "ad605ba4.3fece8"
            ]
        ]
    },
    {
        "id": "ab61b33a.8657",
        "type": "redis-command",
        "z": "98123e0c.aea32",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 580,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b84080b.740128",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "Jitter",
        "func": "var rand = Math.floor(Math.random() * 11);\nmsg.payload = ['sensors:collsionAvoidance:timing:collionControllExecutionTime:diffTimeNano',rand]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 354,
        "y": 40,
        "wires": [
            [
                "ab61b33a.8657"
            ]
        ]
    },
    {
        "id": "ea6c2495.293378",
        "type": "ui_chart",
        "z": "fa0109b3.e47ed8",
        "name": "JitterChart",
        "group": "47d3571c.f85b38",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Jitter in ms",
        "chartType": "line",
        "legend": "true",
        "xformat": "ss",
        "interpolate": "linear",
        "nodata": "No Data is available for now",
        "dot": false,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 687,
        "y": 303,
        "wires": [
            []
        ]
    },
    {
        "id": "1f8a81fd.a630ce",
        "type": "ui_text",
        "z": "fa0109b3.e47ed8",
        "group": "3e9debd6.4621d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "ID_Text",
        "label": "Driver ID",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 641,
        "y": 90,
        "wires": []
    },
    {
        "id": "b3c4ba8c.910568",
        "type": "function",
        "z": "fa0109b3.e47ed8",
        "name": "IDKey",
        "func": "msg.payload = ['sensors:rfid:ID']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 91,
        "wires": [
            [
                "8ff49c47.e5edd"
            ]
        ]
    },
    {
        "id": "8ff49c47.e5edd",
        "type": "redis-command",
        "z": "fa0109b3.e47ed8",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 500.5,
        "y": 89,
        "wires": [
            [
                "1f8a81fd.a630ce"
            ]
        ]
    },
    {
        "id": "8cb7c361.833f6",
        "type": "redis-command",
        "z": "98123e0c.aea32",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 591,
        "y": 547,
        "wires": [
            []
        ]
    },
    {
        "id": "aecf455b.6968a8",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "ID",
        "func": "var rand = Math.floor(Math.random() * 1000);\nmsg.payload = ['sensors:rfid:ID',rand]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 545,
        "wires": [
            [
                "8cb7c361.833f6"
            ]
        ]
    },
    {
        "id": "6bd19493.e635dc",
        "type": "ui_text",
        "z": "fa0109b3.e47ed8",
        "group": "3e9debd6.4621d4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "firstNameText",
        "label": "Driver Firstname",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 661.5,
        "y": 124,
        "wires": []
    },
    {
        "id": "be898ef7.6ff1c",
        "type": "function",
        "z": "fa0109b3.e47ed8",
        "name": "firstNameKey",
        "func": "msg.payload = ['Driver:firstName']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 124,
        "wires": [
            [
                "bf2e06d5.2dbe58"
            ]
        ]
    },
    {
        "id": "bf2e06d5.2dbe58",
        "type": "redis-command",
        "z": "fa0109b3.e47ed8",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 500.5,
        "y": 123,
        "wires": [
            [
                "6bd19493.e635dc"
            ]
        ]
    },
    {
        "id": "36417470.97b7ec",
        "type": "function",
        "z": "fa0109b3.e47ed8",
        "name": "llastNameKey",
        "func": "msg.payload = ['Driver:lastName']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 158,
        "wires": [
            [
                "abcad245.9ffdb"
            ]
        ]
    },
    {
        "id": "abcad245.9ffdb",
        "type": "redis-command",
        "z": "fa0109b3.e47ed8",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 500.5,
        "y": 158,
        "wires": [
            [
                "11335b1a.603455"
            ]
        ]
    },
    {
        "id": "11335b1a.603455",
        "type": "ui_text",
        "z": "fa0109b3.e47ed8",
        "group": "3e9debd6.4621d4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "lastNameText",
        "label": "Driver Lastname",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 662.5,
        "y": 158,
        "wires": []
    },
    {
        "id": "46e5a1f8.f2061",
        "type": "redis-command",
        "z": "98123e0c.aea32",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 591,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "b6bee5c3.19aac8",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "firstName",
        "func": "msg.payload = ['Driver:firstName','Mouaad']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 409,
        "y": 579,
        "wires": [
            [
                "46e5a1f8.f2061"
            ]
        ]
    },
    {
        "id": "68c82f31.bd5de",
        "type": "redis-command",
        "z": "98123e0c.aea32",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 591,
        "y": 614,
        "wires": [
            []
        ]
    },
    {
        "id": "7fa1b344.2e8b6c",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "lastName",
        "func": "msg.payload = ['Driver:lastName','Gssair']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 408,
        "y": 613,
        "wires": [
            [
                "68c82f31.bd5de"
            ]
        ]
    },
    {
        "id": "5c398b8d.c84c04",
        "type": "redis-command",
        "z": "fa0109b3.e47ed8",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 518,
        "y": 338,
        "wires": [
            [
                "207720f7.a260e"
            ]
        ]
    },
    {
        "id": "80bb8da4.133cc",
        "type": "function",
        "z": "fa0109b3.e47ed8",
        "name": "CpuTempKey",
        "func": "msg.payload = ['os:temperature:cpu0']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 339.5,
        "y": 338,
        "wires": [
            [
                "5c398b8d.c84c04"
            ]
        ]
    },
    {
        "id": "a749f4f7.efef78",
        "type": "redis-command",
        "z": "98123e0c.aea32",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 580,
        "y": 106,
        "wires": [
            []
        ]
    },
    {
        "id": "fc5f95b7.5f9ec8",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "CPUTemp",
        "func": "var rand = Math.floor(Math.random() * 10 +30);\nmsg.payload = ['os:temperature:cpu0',rand]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 373,
        "y": 106,
        "wires": [
            [
                "a749f4f7.efef78"
            ]
        ]
    },
    {
        "id": "207720f7.a260e",
        "type": "ui_gauge",
        "z": "fa0109b3.e47ed8",
        "name": "CPUTempChart",
        "group": "3d0ea01d.7257a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "C°",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 698,
        "y": 337,
        "wires": []
    },
    {
        "id": "df9de84b.7609c8",
        "type": "comment",
        "z": "fa0109b3.e47ed8",
        "name": "User_rights",
        "info": "Check if the user is allowed to change the Settings is the Control",
        "x": 100.5,
        "y": 866,
        "wires": []
    },
    {
        "id": "ff2da66.5b6ea58",
        "type": "link in",
        "z": "98123e0c.aea32",
        "name": "Driver",
        "links": [
            "b84964d0.943428"
        ],
        "x": 222.5,
        "y": 620,
        "wires": [
            [
                "aecf455b.6968a8",
                "b6bee5c3.19aac8",
                "7fa1b344.2e8b6c",
                "98676bf9.156108",
                "233188db.837748"
            ]
        ]
    },
    {
        "id": "b84964d0.943428",
        "type": "link out",
        "z": "fa0109b3.e47ed8",
        "name": "injectData",
        "links": [
            "ff2da66.5b6ea58",
            "85695666.1ffce8"
        ],
        "x": 277,
        "y": 20,
        "wires": []
    },
    {
        "id": "39218a08.ca2a86",
        "type": "inject",
        "z": "fa0109b3.e47ed8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 97.5,
        "y": 126,
        "wires": [
            [
                "b84964d0.943428",
                "b3c4ba8c.910568",
                "be898ef7.6ff1c",
                "36417470.97b7ec",
                "634ab87.80f5948",
                "88d5843d.7a3438"
            ]
        ]
    },
    {
        "id": "5d1037c3.545ac8",
        "type": "redis-command",
        "z": "98123e0c.aea32",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 590,
        "y": 647,
        "wires": [
            []
        ]
    },
    {
        "id": "98676bf9.156108",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "authLevel",
        "func": "msg.payload = ['Driver:authLevel','2']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 408,
        "y": 647,
        "wires": [
            [
                "5d1037c3.545ac8"
            ]
        ]
    },
    {
        "id": "634ab87.80f5948",
        "type": "function",
        "z": "fa0109b3.e47ed8",
        "name": "AuthLevelKey",
        "func": "msg.payload = ['Driver:authLevel']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 193,
        "wires": [
            [
                "cf473ea2.5a1ca"
            ]
        ]
    },
    {
        "id": "cf473ea2.5a1ca",
        "type": "redis-command",
        "z": "fa0109b3.e47ed8",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 505.5,
        "y": 192,
        "wires": [
            [
                "4e52d90e.f3fe68"
            ]
        ]
    },
    {
        "id": "4e52d90e.f3fe68",
        "type": "ui_text",
        "z": "fa0109b3.e47ed8",
        "group": "3e9debd6.4621d4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "authLevelText",
        "label": "Driver Authentication Level",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 690.5,
        "y": 192,
        "wires": []
    },
    {
        "id": "84a2680b.eafc08",
        "type": "mqtt in",
        "z": "3f120659.f1e0ba",
        "name": "DriverAuthRequest",
        "topic": "/SysArch/V1/Driver/AuthRequest/",
        "qos": "2",
        "datatype": "auto",
        "broker": "fa22ef82.a2154",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "26dda9d9.341d56",
                "58cc47ff.57cc38"
            ]
        ]
    },
    {
        "id": "26dda9d9.341d56",
        "type": "debug",
        "z": "3f120659.f1e0ba",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "b92bae36.ef51f",
        "type": "mqtt out",
        "z": "3f120659.f1e0ba",
        "name": "",
        "topic": "/SysArch/V1/Driver/AuthRequest/",
        "qos": "2",
        "retain": "",
        "broker": "fa22ef82.a2154",
        "x": 680,
        "y": 80,
        "wires": []
    },
    {
        "id": "b937304d.c9b9b",
        "type": "inject",
        "z": "3f120659.f1e0ba",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "1ea3683e.614958"
            ]
        ]
    },
    {
        "id": "1ea3683e.614958",
        "type": "function",
        "z": "3f120659.f1e0ba",
        "name": "AuthRequest",
        "func": "msg.payload = {\n    \"id\":\"973453\",\n    \"timestamp\":\"20190607T134601Z\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "b92bae36.ef51f"
            ]
        ]
    },
    {
        "id": "58cc47ff.57cc38",
        "type": "function",
        "z": "3f120659.f1e0ba",
        "name": "RequestCheck",
        "func": "var obj = JSON.parse(msg.payload);\nvar res = new Object();\nif(obj.hasOwnProperty('id') && obj.hasOwnProperty('timestamp')){\n    res.id = obj.id;\n    res.firstName = 'Karl';\n    res.lastName = 'Eugen';\n    res.authLevel = '2';\n}\nmsg.payload = res;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "152006a7.88f479",
                "db56aaab.05ea78"
            ]
        ]
    },
    {
        "id": "152006a7.88f479",
        "type": "debug",
        "z": "3f120659.f1e0ba",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "9b064bae.3951b8",
        "type": "mqtt out",
        "z": "3f120659.f1e0ba",
        "name": "",
        "topic": "/SysArch/V1/Driver/AuthResponse/",
        "qos": "2",
        "retain": "",
        "broker": "fa22ef82.a2154",
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "db56aaab.05ea78",
        "type": "json",
        "z": "3f120659.f1e0ba",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 330,
        "y": 300,
        "wires": [
            [
                "9b064bae.3951b8",
                "1f4e5ebf.1df0e1"
            ]
        ]
    },
    {
        "id": "1f4e5ebf.1df0e1",
        "type": "debug",
        "z": "3f120659.f1e0ba",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 470,
        "y": 360,
        "wires": []
    },
    {
        "id": "512ca52b.1739bc",
        "type": "redis-command",
        "z": "98123e0c.aea32",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 589,
        "y": 688,
        "wires": [
            []
        ]
    },
    {
        "id": "233188db.837748",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "isPresent",
        "func": "msg.payload = ['sensors:rfid:present','1']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 409,
        "y": 681,
        "wires": [
            [
                "512ca52b.1739bc"
            ]
        ]
    },
    {
        "id": "8ee672ae.f7eca",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "isPresentFalse",
        "func": "msg.payload = ['sensors:rfid:present','0']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 429,
        "y": 716,
        "wires": [
            [
                "512ca52b.1739bc"
            ]
        ]
    },
    {
        "id": "158812c4.dfc2ad",
        "type": "inject",
        "z": "98123e0c.aea32",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 245,
        "y": 715,
        "wires": [
            [
                "8ee672ae.f7eca"
            ]
        ]
    },
    {
        "id": "be9a01f6.da9c6",
        "type": "redis-command",
        "z": "98123e0c.aea32",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 580,
        "y": 73,
        "wires": [
            []
        ]
    },
    {
        "id": "3abc221c.c66e4e",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "JitterTimestamp",
        "func": "var timestamp = new Date().toISOString();\nmsg.payload = ['sensors:collsionAvoidance:timing:collionControllExecutionTime:timestamp',timestamp]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 384,
        "y": 73,
        "wires": [
            [
                "be9a01f6.da9c6"
            ]
        ]
    },
    {
        "id": "b81a1678.c0d4f8",
        "type": "redis-command",
        "z": "98123e0c.aea32",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 580,
        "y": 139,
        "wires": [
            []
        ]
    },
    {
        "id": "1b695334.82e2fd",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "CPUTempTimestamp",
        "func": "// https://stackoverflow.com/questions/2573521/how-do-i-output-an-iso-8601-formatted-string-in-javascript\nvar timestamp = new Date().toISOString();\nmsg.payload = ['os:temperature:timestamp',timestamp]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 403,
        "y": 139,
        "wires": [
            [
                "b81a1678.c0d4f8"
            ]
        ]
    },
    {
        "id": "ae12521b.147b8",
        "type": "redis-command",
        "z": "98123e0c.aea32",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 580,
        "y": 172,
        "wires": [
            []
        ]
    },
    {
        "id": "c78b1ee6.18ff9",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "CPULoad",
        "func": "var rand = Math.floor(Math.random() * 20 +30);\nmsg.payload = ['os:top:cpu_idle',rand]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 363,
        "y": 172,
        "wires": [
            [
                "ae12521b.147b8"
            ]
        ]
    },
    {
        "id": "193fd308.97945d",
        "type": "redis-command",
        "z": "98123e0c.aea32",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 580,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c9c450b2.518a8",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "LidarDistances",
        "func": "msg.payload = ['sensors:lidar:distances',msg.payload]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 320,
        "wires": [
            [
                "193fd308.97945d"
            ]
        ]
    },
    {
        "id": "d92c5213.d6478",
        "type": "redis-command",
        "z": "fa0109b3.e47ed8",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 517,
        "y": 372,
        "wires": [
            [
                "582a1878.18c4f8"
            ]
        ]
    },
    {
        "id": "7d47a6db.e210c8",
        "type": "function",
        "z": "fa0109b3.e47ed8",
        "name": "CpuLoadKey",
        "func": "msg.payload = ['os:top:cpu_idle']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 329.5,
        "y": 372,
        "wires": [
            [
                "d92c5213.d6478"
            ]
        ]
    },
    {
        "id": "88d5843d.7a3438",
        "type": "function",
        "z": "fa0109b3.e47ed8",
        "name": "Setup",
        "func": "function getRandomColor() {\n  var letters = '0123456789ABCDEF';\n  var color = '#';\n  for (var i = 0; i < 6; i++) {\n    color += letters[Math.floor(Math.random() * 16)];\n  }\n  return color;\n}\n// \"#\"+((1<<24)*Math.random()|0).toString(16)\nflow.set(\"randomColorsArray\",Array.from({length: 8}, () => getRandomColor()))\n\nflow.set('port','1881');\nflow.set('lidarUrl',\"http://0.0.0.0:1881/Lidar\")\n\nglobal.set('numOfRTThreads',0);\n\nmsg.topic = 'colors'; \nmsg.payload = flow.get('lidarUrl');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 58,
        "wires": [
            []
        ]
    },
    {
        "id": "45ce437a.eac58c",
        "type": "function",
        "z": "fa0109b3.e47ed8",
        "name": "CPUactiveCores",
        "func": "msg.payload = ['CPU:CPUactiveCores']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 339,
        "y": 407,
        "wires": [
            [
                "7ade865.b8d8778"
            ]
        ]
    },
    {
        "id": "7ade865.b8d8778",
        "type": "redis-command",
        "z": "fa0109b3.e47ed8",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 519,
        "y": 407,
        "wires": [
            [
                "643fb64d.543908"
            ]
        ]
    },
    {
        "id": "643fb64d.543908",
        "type": "ui_text",
        "z": "fa0109b3.e47ed8",
        "group": "3d0ea01d.7257a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "CpuActiveCoresTxt",
        "label": "CPU Active Cores :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 709,
        "y": 407,
        "wires": []
    },
    {
        "id": "582a1878.18c4f8",
        "type": "ui_gauge",
        "z": "fa0109b3.e47ed8",
        "name": "",
        "group": "3d0ea01d.7257a",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "CPU Load in %",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#17b59a",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 696,
        "y": 372,
        "wires": []
    },
    {
        "id": "ed714010.d2467",
        "type": "ui_toast",
        "z": "fa0109b3.e47ed8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 710,
        "y": 268,
        "wires": []
    },
    {
        "id": "c529ef2a.f3c28",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "LidarDistancesObj",
        "func": "var array = Array.from({length: 360}, () => Math.floor(Math.random() * 40));\nmsg.payload = Object.assign({}, array);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "594722e2.e5ec5c"
            ]
        ]
    },
    {
        "id": "594722e2.e5ec5c",
        "type": "csv",
        "z": "98123e0c.aea32",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "c9c450b2.518a8"
            ]
        ]
    },
    {
        "id": "d402320f.11948",
        "type": "comment",
        "z": "98123e0c.aea32",
        "name": "Temporary Emulation",
        "info": "Sensor Values that are emulated.\nshould be kept active!",
        "x": 123,
        "y": 127,
        "wires": []
    },
    {
        "id": "b2b8b748.558028",
        "type": "link out",
        "z": "fa0109b3.e47ed8",
        "name": "1sInterval",
        "links": [
            "8179c570.9f2828",
            "7fd9cc98.b17504",
            "557bbf55.53b04",
            "5bc93362.01b05c",
            "12cd451d.9bf3cb",
            "dd224f00.333a1"
        ],
        "x": 51,
        "y": 379,
        "wires": []
    },
    {
        "id": "7fd9cc98.b17504",
        "type": "link in",
        "z": "98123e0c.aea32",
        "name": "ConsistDBemul",
        "links": [
            "b2b8b748.558028"
        ],
        "x": 185,
        "y": 249,
        "wires": [
            [
                "b84080b.740128",
                "3abc221c.c66e4e",
                "fc5f95b7.5f9ec8",
                "1b695334.82e2fd",
                "c78b1ee6.18ff9",
                "c529ef2a.f3c28",
                "d2f57dac.1d996",
                "4ce5be83.11ba2",
                "e2089dea.76b56",
                "edc212a5.7a132",
                "db640151.5676",
                "da2f8e8e.2bccb",
                "ff3515f3.9488e8"
            ]
        ]
    },
    {
        "id": "dd1cc021.1e9df",
        "type": "function",
        "z": "fa0109b3.e47ed8",
        "name": "isPresentKey",
        "func": "msg.payload = ['sensors:rfid:present']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 228,
        "wires": [
            [
                "ebe10492.5cd1e8"
            ]
        ]
    },
    {
        "id": "ebe10492.5cd1e8",
        "type": "redis-command",
        "z": "fa0109b3.e47ed8",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 520,
        "y": 228,
        "wires": [
            [
                "5ceec20c.1ae4ac"
            ]
        ]
    },
    {
        "id": "1ca011ab.ff29fe",
        "type": "function",
        "z": "fa0109b3.e47ed8",
        "name": "",
        "func": "if(msg.payload == '1'){\n    msg.payload = 'New user is present'\n} else {\n    msg.payload = 'user logged out'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 228,
        "wires": [
            [
                "ed714010.d2467"
            ]
        ]
    },
    {
        "id": "5ceec20c.1ae4ac",
        "type": "rbe",
        "z": "fa0109b3.e47ed8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 650,
        "y": 228,
        "wires": [
            [
                "1ca011ab.ff29fe"
            ]
        ]
    },
    {
        "id": "57dbc008.71b",
        "type": "comment",
        "z": "fa0109b3.e47ed8",
        "name": "Driver Info",
        "info": "",
        "x": 94,
        "y": 172,
        "wires": []
    },
    {
        "id": "b3ed7024.7be98",
        "type": "comment",
        "z": "fa0109b3.e47ed8",
        "name": "System Monitoring",
        "info": "",
        "x": 109,
        "y": 460,
        "wires": []
    },
    {
        "id": "6e7a61a.97ee6a",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Start",
        "group": "9b4ae6c0.9de688",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "start",
        "payloadType": "str",
        "topic": "",
        "x": 73,
        "y": 23,
        "wires": [
            [
                "4240a8e4.db95a8"
            ]
        ]
    },
    {
        "id": "40029599.cf3ccc",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Stop",
        "group": "9b4ae6c0.9de688",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "",
        "x": 73.5,
        "y": 60,
        "wires": [
            [
                "4240a8e4.db95a8"
            ]
        ]
    },
    {
        "id": "704cce6d.e3704",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Restart",
        "group": "9b4ae6c0.9de688",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Restart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "restart",
        "payloadType": "str",
        "topic": "",
        "x": 83.5,
        "y": 98,
        "wires": [
            [
                "4240a8e4.db95a8"
            ]
        ]
    },
    {
        "id": "4240a8e4.db95a8",
        "type": "exec",
        "z": "995db953.1dbb18",
        "command": "sudo systemctl",
        "addpay": true,
        "append": "vehicle.service",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "exec vehicle.service",
        "x": 269,
        "y": 60.5,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c42785b8.2a0d58",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Start",
        "group": "39b37a15.35a9a6",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "",
        "x": 83.5,
        "y": 208,
        "wires": [
            [
                "f455594a.c8dc18"
            ]
        ]
    },
    {
        "id": "deb57c8e.26649",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Stop",
        "group": "39b37a15.35a9a6",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "false",
        "payloadType": "str",
        "topic": "",
        "x": 83,
        "y": 242,
        "wires": [
            [
                "f455594a.c8dc18"
            ]
        ]
    },
    {
        "id": "28e11af7.9599b6",
        "type": "ui_template",
        "z": "995db953.1dbb18",
        "group": "9d163dfc.a6bc9",
        "name": "",
        "order": 2,
        "width": "8",
        "height": "4",
        "format": "<!--<div layout=\"row\" layout-align=\"space-between\">\n    <div id=”” style=”height: 250px; width:100%;overflow:scroll;”>\n        <p>{{msg.payload}}</p>\n    </div>\n</div>-->\n    <div ng-bind-html=\"msg.payload\" style=”height: 400px; width:100%;overflow:scroll;”></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 448,
        "y": 649,
        "wires": [
            []
        ]
    },
    {
        "id": "75cb554e.b2202c",
        "type": "file in",
        "z": "995db953.1dbb18",
        "name": "logFile",
        "filename": "/home/pi/vehicle/armv7/vehicleLog.log.0",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 302,
        "y": 653,
        "wires": [
            [
                "28e11af7.9599b6"
            ]
        ]
    },
    {
        "id": "f455594a.c8dc18",
        "type": "function",
        "z": "995db953.1dbb18",
        "name": "",
        "func": "var newMsg = {payload: msg.payload,topic:msg.topic};\nnewMsg.payload = ['management:threads:collisonAvoidanceRunnable',msg.payload]\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 213,
        "y": 229,
        "wires": [
            [
                "dccceb66.58f818"
            ]
        ]
    },
    {
        "id": "dccceb66.58f818",
        "type": "redis-command",
        "z": "995db953.1dbb18",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 415,
        "y": 453,
        "wires": [
            []
        ]
    },
    {
        "id": "7040e9d.667d918",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Start",
        "group": "247ab503.19649a",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "",
        "x": 82,
        "y": 275,
        "wires": [
            [
                "36db7dfc.3374b2"
            ]
        ]
    },
    {
        "id": "cc6a3efe.bac3",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Stop",
        "group": "247ab503.19649a",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "false",
        "payloadType": "str",
        "topic": "",
        "x": 81.5,
        "y": 308,
        "wires": [
            [
                "36db7dfc.3374b2"
            ]
        ]
    },
    {
        "id": "36db7dfc.3374b2",
        "type": "function",
        "z": "995db953.1dbb18",
        "name": "",
        "func": "var newMsg = {payload: msg.payload,topic:msg.topic};\nnewMsg.payload = ['management:threads:lidarDataCollectionThreadRunnable',msg.payload]\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 212.5,
        "y": 288,
        "wires": [
            [
                "dccceb66.58f818"
            ]
        ]
    },
    {
        "id": "de0552f6.b5cc7",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Start",
        "group": "3a14d7d1.c13988",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 342,
        "wires": [
            [
                "4f4bdc33.116384"
            ]
        ]
    },
    {
        "id": "887ef26a.62037",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Stop",
        "group": "3a14d7d1.c13988",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "false",
        "payloadType": "str",
        "topic": "",
        "x": 79.5,
        "y": 375,
        "wires": [
            [
                "4f4bdc33.116384"
            ]
        ]
    },
    {
        "id": "4f4bdc33.116384",
        "type": "function",
        "z": "995db953.1dbb18",
        "name": "",
        "func": "var newMsg = {payload: msg.payload,topic:msg.topic};\nnewMsg.payload = ['management:threads:databaseReaderRunnable',msg.payload]\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 211.5,
        "y": 358,
        "wires": [
            [
                "dccceb66.58f818"
            ]
        ]
    },
    {
        "id": "7e8ef0d4.969b1",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Start",
        "group": "e17bcb26.ca04d8",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "str",
        "topic": "",
        "x": 79,
        "y": 409,
        "wires": [
            [
                "acfe9c7d.bfbcd"
            ]
        ]
    },
    {
        "id": "ecc6780e.7c2768",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Stop",
        "group": "e17bcb26.ca04d8",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "false",
        "payloadType": "str",
        "topic": "",
        "x": 78.5,
        "y": 443,
        "wires": [
            [
                "acfe9c7d.bfbcd"
            ]
        ]
    },
    {
        "id": "acfe9c7d.bfbcd",
        "type": "function",
        "z": "995db953.1dbb18",
        "name": "",
        "func": "var newMsg = {payload: msg.payload,topic:msg.topic};\nnewMsg.payload = ['management:threads:databaseWriterRunnable',msg.payload]\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 211.5,
        "y": 422,
        "wires": [
            [
                "dccceb66.58f818"
            ]
        ]
    },
    {
        "id": "4c7beecb.bfe0b",
        "type": "ui_switch",
        "z": "56a5114c.9568b",
        "name": "LidarSensorSwitch",
        "label": "switch",
        "tooltip": "",
        "group": "41d6287a.f9f658",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 164,
        "y": 162,
        "wires": [
            [
                "ce70b51e.9a3b38",
                "61dd16b7.f95208"
            ]
        ]
    },
    {
        "id": "ce70b51e.9a3b38",
        "type": "function",
        "z": "56a5114c.9568b",
        "name": "",
        "func": "var newMsg = {payload: msg.payload,topic:msg.topic};\nnewMsg.payload = ['LidarSensorState',msg.payload]\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 478.5,
        "y": 109,
        "wires": [
            [
                "19450f37.82e691"
            ]
        ]
    },
    {
        "id": "19450f37.82e691",
        "type": "redis-command",
        "z": "56a5114c.9568b",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 630.5,
        "y": 109,
        "wires": [
            []
        ]
    },
    {
        "id": "63515d69.65c854",
        "type": "ui_text",
        "z": "56a5114c.9568b",
        "group": "41d6287a.f9f658",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "LidarSensorState",
        "label": "Lidar Sensor is ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 661.5,
        "y": 248,
        "wires": []
    },
    {
        "id": "18ad0ec6.5a1601",
        "type": "ui_text",
        "z": "56a5114c.9568b",
        "group": "41d6287a.f9f658",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "CPUTempState",
        "label": "CPU Temperature Monitor is ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 651,
        "y": 283,
        "wires": []
    },
    {
        "id": "61dd16b7.f95208",
        "type": "function",
        "z": "56a5114c.9568b",
        "name": "",
        "func": "var newMsg = {payload: msg.payload,topic:msg.topic};\nif(msg.payload){\n    newMsg.payload = 'ON'\n}\nelse{\n    newMsg.payload = 'OFF'\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 479.5,
        "y": 248,
        "wires": [
            [
                "63515d69.65c854"
            ]
        ]
    },
    {
        "id": "5a2ddc37.a4e4e4",
        "type": "function",
        "z": "56a5114c.9568b",
        "name": "",
        "func": "var newMsg = {payload: msg.payload,topic:msg.topic};\nif(msg.payload){\n    newMsg.payload = 'ON'\n}\nelse{\n    newMsg.payload = 'OFF'\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 478.5,
        "y": 283,
        "wires": [
            [
                "18ad0ec6.5a1601"
            ]
        ]
    },
    {
        "id": "df1d29c9.fce018",
        "type": "redis-command",
        "z": "56a5114c.9568b",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 633,
        "y": 144,
        "wires": [
            []
        ]
    },
    {
        "id": "46d2b188.7d3af",
        "type": "function",
        "z": "56a5114c.9568b",
        "name": "",
        "func": "var newMsg = {payload: msg.payload,topic:msg.topic};\nnewMsg.payload = ['CPUTempState',msg.payload]\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 479,
        "y": 144,
        "wires": [
            [
                "df1d29c9.fce018"
            ]
        ]
    },
    {
        "id": "ed4294e9.2d3e08",
        "type": "ui_switch",
        "z": "56a5114c.9568b",
        "name": "CPUTempSwitch",
        "label": "switch",
        "tooltip": "",
        "group": "41d6287a.f9f658",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 162.5,
        "y": 196,
        "wires": [
            [
                "46d2b188.7d3af",
                "5a2ddc37.a4e4e4"
            ]
        ]
    },
    {
        "id": "697fda16.b248b4",
        "type": "ui_led",
        "z": "995db953.1dbb18",
        "group": "39b37a15.35a9a6",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "State",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "str"
            }
        ],
        "name": "",
        "x": 730.5,
        "y": 487,
        "wires": []
    },
    {
        "id": "df8f36b9.986178",
        "type": "redis-command",
        "z": "995db953.1dbb18",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 533,
        "y": 487,
        "wires": [
            [
                "697fda16.b248b4",
                "7e11aa91.7fa2c4"
            ]
        ]
    },
    {
        "id": "5fb0737f.ff874c",
        "type": "function",
        "z": "995db953.1dbb18",
        "name": "CollisionAvoidanceKey",
        "func": "msg.payload = ['management:threads:collisonAvoidanceRunnable']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 351.5,
        "y": 486,
        "wires": [
            [
                "df8f36b9.986178"
            ]
        ]
    },
    {
        "id": "98d57f9e.ad06b",
        "type": "ui_led",
        "z": "995db953.1dbb18",
        "group": "247ab503.19649a",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "State",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "str"
            }
        ],
        "name": "",
        "x": 732,
        "y": 525,
        "wires": []
    },
    {
        "id": "2ed092ef.f939ce",
        "type": "redis-command",
        "z": "995db953.1dbb18",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 534.5,
        "y": 525,
        "wires": [
            [
                "98d57f9e.ad06b",
                "7e11aa91.7fa2c4"
            ]
        ]
    },
    {
        "id": "32c0910a.578e4e",
        "type": "function",
        "z": "995db953.1dbb18",
        "name": "LidarStateKey",
        "func": "msg.payload = ['management:threads:lidarDataCollectionThreadRunnable']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 333,
        "y": 524,
        "wires": [
            [
                "2ed092ef.f939ce"
            ]
        ]
    },
    {
        "id": "9d178502.71fa38",
        "type": "ui_led",
        "z": "995db953.1dbb18",
        "group": "3a14d7d1.c13988",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "State",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "str"
            }
        ],
        "name": "",
        "x": 735,
        "y": 564,
        "wires": []
    },
    {
        "id": "38a52d2f.ac38a2",
        "type": "redis-command",
        "z": "995db953.1dbb18",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 533.5,
        "y": 563,
        "wires": [
            [
                "9d178502.71fa38",
                "7e11aa91.7fa2c4"
            ]
        ]
    },
    {
        "id": "79b307b8.8a4778",
        "type": "function",
        "z": "995db953.1dbb18",
        "name": "DBReaderKey",
        "func": "msg.payload = ['management:threads:databaseReaderRunnable']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 332,
        "y": 563,
        "wires": [
            [
                "38a52d2f.ac38a2"
            ]
        ]
    },
    {
        "id": "9f9179bd.6f55f8",
        "type": "ui_led",
        "z": "995db953.1dbb18",
        "group": "e17bcb26.ca04d8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "State",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "false",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "str"
            }
        ],
        "name": "",
        "x": 734,
        "y": 603,
        "wires": []
    },
    {
        "id": "e7606002.9d7a",
        "type": "redis-command",
        "z": "995db953.1dbb18",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 535.5,
        "y": 603,
        "wires": [
            [
                "9f9179bd.6f55f8",
                "7e11aa91.7fa2c4"
            ]
        ]
    },
    {
        "id": "1857c8c2.3582a7",
        "type": "function",
        "z": "995db953.1dbb18",
        "name": "DBWriterKey",
        "func": "msg.payload = ['management:threads:databaseWriterRunnable']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 326,
        "y": 602,
        "wires": [
            [
                "e7606002.9d7a"
            ]
        ]
    },
    {
        "id": "557bbf55.53b04",
        "type": "link in",
        "z": "995db953.1dbb18",
        "name": "logFile",
        "links": [
            "b2b8b748.558028"
        ],
        "x": 191,
        "y": 545,
        "wires": [
            [
                "5fb0737f.ff874c",
                "32c0910a.578e4e",
                "79b307b8.8a4778",
                "1857c8c2.3582a7"
            ]
        ]
    },
    {
        "id": "e99f81d8.12ea2",
        "type": "redis-command",
        "z": "98123e0c.aea32",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 580,
        "y": 353,
        "wires": [
            []
        ]
    },
    {
        "id": "d2f57dac.1d996",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "PressureTimestamp",
        "func": "// https://stackoverflow.com/questions/2573521/how-do-i-output-an-iso-8601-formatted-string-in-javascript\nvar timestamp = new Date().toISOString();\nmsg.payload = ['sensors:barometer:timestamp',timestamp]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 388,
        "wires": [
            [
                "74d732a0.06cf8c"
            ]
        ]
    },
    {
        "id": "74d732a0.06cf8c",
        "type": "redis-command",
        "z": "98123e0c.aea32",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 581,
        "y": 388,
        "wires": [
            []
        ]
    },
    {
        "id": "4ce5be83.11ba2",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "PressureKey",
        "func": "var rand = Math.floor(Math.random() * 20 +30);\nmsg.payload = ['sensors:barometer:data', rand]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 353,
        "wires": [
            [
                "e99f81d8.12ea2"
            ]
        ]
    },
    {
        "id": "781966d5.28a8a8",
        "type": "redis-command",
        "z": "98123e0c.aea32",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 581,
        "y": 422,
        "wires": [
            []
        ]
    },
    {
        "id": "c808bf3b.11398",
        "type": "redis-command",
        "z": "98123e0c.aea32",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 581,
        "y": 456,
        "wires": [
            []
        ]
    },
    {
        "id": "9893a9fa.869818",
        "type": "comment",
        "z": "995db953.1dbb18",
        "name": "first State ??",
        "info": "be careful to init the first state of the threads in the application\n",
        "x": 675.5,
        "y": 450,
        "wires": []
    },
    {
        "id": "7e11aa91.7fa2c4",
        "type": "function",
        "z": "995db953.1dbb18",
        "name": "SetNumOfRTThreads",
        "func": "var temp = global.get('numOfRTThreads')\nif (msg.payload == 'true'){\n    global.set('numOfRTThreads',temp + 1)\n} else {\n    global.set('numOfRTThreads',temp - 1)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 761.5,
        "y": 641,
        "wires": [
            []
        ]
    },
    {
        "id": "1b413750.822de9",
        "type": "ui_gauge",
        "z": "6e40fab5.1057f4",
        "name": "TempChart",
        "group": "9d2e3320.b8727",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C°",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#0bb5a7",
            "#8be67a",
            "#ca601a"
        ],
        "seg1": "",
        "seg2": "",
        "x": 691,
        "y": 111,
        "wires": []
    },
    {
        "id": "42fdff36.f472c",
        "type": "function",
        "z": "6e40fab5.1057f4",
        "name": "TempKey",
        "func": "msg.payload = ['sensors:temperature:data']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 322,
        "y": 113,
        "wires": [
            [
                "e662797f.d6d918"
            ]
        ]
    },
    {
        "id": "e662797f.d6d918",
        "type": "redis-command",
        "z": "6e40fab5.1057f4",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 520.5,
        "y": 113,
        "wires": [
            [
                "1b413750.822de9"
            ]
        ]
    },
    {
        "id": "56b3144.e45fbec",
        "type": "function",
        "z": "6e40fab5.1057f4",
        "name": "PressureKey",
        "func": "msg.payload = ['sensors:barometer:data']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 333,
        "y": 152,
        "wires": [
            [
                "43c74942.591aa8"
            ]
        ]
    },
    {
        "id": "43c74942.591aa8",
        "type": "redis-command",
        "z": "6e40fab5.1057f4",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 521.5,
        "y": 152,
        "wires": [
            [
                "870a3b5a.c51e78"
            ]
        ]
    },
    {
        "id": "27c5f6c3.ab950a",
        "type": "function",
        "z": "6e40fab5.1057f4",
        "name": "AccelerationKey",
        "func": "msg.topic = 'x'\nmsg.payload = ['sensors:accelerometer:accelerometer_x']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 342,
        "y": 192,
        "wires": [
            [
                "de9ccd4.c898e3"
            ]
        ]
    },
    {
        "id": "de9ccd4.c898e3",
        "type": "redis-command",
        "z": "6e40fab5.1057f4",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 520.5,
        "y": 192,
        "wires": [
            [
                "e0ab96d4.af9c78"
            ]
        ]
    },
    {
        "id": "870a3b5a.c51e78",
        "type": "ui_chart",
        "z": "6e40fab5.1057f4",
        "name": "PressureChart",
        "group": "bcf776d6.788ea8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Pressure in hPa",
        "chartType": "line",
        "legend": "true",
        "xformat": "ss",
        "interpolate": "linear",
        "nodata": "No Data is available for now",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 699,
        "y": 150,
        "wires": [
            []
        ]
    },
    {
        "id": "e0ab96d4.af9c78",
        "type": "ui_chart",
        "z": "6e40fab5.1057f4",
        "name": "AccelerationChart",
        "group": "3e84c7f0.f4ccf8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Acceleration in m/s²",
        "chartType": "line",
        "legend": "true",
        "xformat": "ss",
        "interpolate": "linear",
        "nodata": "No Data is available for now",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 752,
        "y": 226,
        "wires": [
            []
        ]
    },
    {
        "id": "97d8ed6d.8ac93",
        "type": "function",
        "z": "6e40fab5.1057f4",
        "name": "LidarDistancesKey",
        "func": "msg.payload = ['sensors:lidar:distances']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 354,
        "y": 402,
        "wires": [
            [
                "23ead285.23627e"
            ]
        ]
    },
    {
        "id": "23ead285.23627e",
        "type": "redis-command",
        "z": "6e40fab5.1057f4",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 521.5,
        "y": 402,
        "wires": [
            [
                "ab45363f.436248"
            ]
        ]
    },
    {
        "id": "ab45363f.436248",
        "type": "function",
        "z": "6e40fab5.1057f4",
        "name": "ChartData",
        "func": "\nvar dataArray = msg.payload.split(',')\nvar m = {};\n// '0','45','90','135','180','225','270', '315'\nm.labels = [];\nm.data = [dataArray];\nm.series = [];\nreturn {payload:[m],topic:msg.topic};",
        "outputs": 1,
        "noerr": 0,
        "x": 331.5,
        "y": 442,
        "wires": [
            [
                "dbcbdd75.b0ba"
            ]
        ]
    },
    {
        "id": "dbcbdd75.b0ba",
        "type": "ui_chart",
        "z": "6e40fab5.1057f4",
        "name": "LidarPolarChart",
        "group": "cb3848a3.b24858",
        "order": 2,
        "width": "12",
        "height": "5",
        "label": "Distnaces in cm",
        "chartType": "polar-area",
        "legend": "true",
        "xformat": "ss",
        "interpolate": "linear",
        "nodata": "Distances not available",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 701.5,
        "y": 442,
        "wires": [
            []
        ]
    },
    {
        "id": "5bc93362.01b05c",
        "type": "link in",
        "z": "6e40fab5.1057f4",
        "name": "ConsistDBemul",
        "links": [
            "b2b8b748.558028"
        ],
        "x": 165,
        "y": 219,
        "wires": [
            [
                "42fdff36.f472c",
                "56b3144.e45fbec",
                "27c5f6c3.ab950a",
                "97d8ed6d.8ac93",
                "f8b6f466.fa2f38",
                "33b6ead8.5745d6",
                "d6d55800.947688",
                "ea1830aa.9117c",
                "73608d14.ed2904"
            ]
        ]
    },
    {
        "id": "899daca.65d765",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Start",
        "group": "419b4bd8.b29e14",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "start",
        "payloadType": "str",
        "topic": "",
        "x": 403,
        "y": 105,
        "wires": [
            [
                "fcc8ae9c.9a1cb"
            ]
        ]
    },
    {
        "id": "dcec4802.f8fec8",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Stop",
        "group": "419b4bd8.b29e14",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "",
        "x": 403.5,
        "y": 142,
        "wires": [
            [
                "fcc8ae9c.9a1cb"
            ]
        ]
    },
    {
        "id": "6e6fcd74.c5fb94",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Restart",
        "group": "419b4bd8.b29e14",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Restart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "restart",
        "payloadType": "str",
        "topic": "",
        "x": 413.5,
        "y": 180,
        "wires": [
            [
                "fcc8ae9c.9a1cb"
            ]
        ]
    },
    {
        "id": "fcc8ae9c.9a1cb",
        "type": "exec",
        "z": "995db953.1dbb18",
        "command": "sudo systemctl",
        "addpay": true,
        "append": "communicationManager.service",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "exec communicationManager.service",
        "x": 644,
        "y": 133.5,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "80443972.695528",
        "type": "exec",
        "z": "995db953.1dbb18",
        "command": "sudo systemctl is-active vehicle.service",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "exec vehicle.service",
        "x": 352,
        "y": 759,
        "wires": [
            [
                "f9deb7e.67ff248"
            ],
            [],
            []
        ]
    },
    {
        "id": "f9deb7e.67ff248",
        "type": "ui_led",
        "z": "995db953.1dbb18",
        "group": "9b4ae6c0.9de688",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "State",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "failed",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "active",
                "valueType": "str"
            }
        ],
        "name": "",
        "x": 752,
        "y": 756,
        "wires": []
    },
    {
        "id": "4fa1a7b5.350b28",
        "type": "exec",
        "z": "995db953.1dbb18",
        "command": "sudo systemctl is-active communicationManager.service",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "exec comManager.service",
        "x": 362,
        "y": 810,
        "wires": [
            [
                "769b0884.4cb588"
            ],
            [],
            []
        ]
    },
    {
        "id": "769b0884.4cb588",
        "type": "ui_led",
        "z": "995db953.1dbb18",
        "group": "419b4bd8.b29e14",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "State",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "failed",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "active",
                "valueType": "str"
            }
        ],
        "name": "",
        "x": 754,
        "y": 810,
        "wires": []
    },
    {
        "id": "223f290c.548f36",
        "type": "redis-command",
        "z": "fa0109b3.e47ed8",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 515.5,
        "y": 455,
        "wires": [
            [
                "c5e97334.c1271"
            ]
        ]
    },
    {
        "id": "b23b8b1f.ca0638",
        "type": "function",
        "z": "fa0109b3.e47ed8",
        "name": "RxBytesKey",
        "func": "msg.topic = 'Bytes'\nmsg.payload = ['sensors:os:network:eth0:rx_bytes']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 328,
        "y": 455,
        "wires": [
            [
                "223f290c.548f36"
            ]
        ]
    },
    {
        "id": "8b551237.189b",
        "type": "ui_chart",
        "z": "fa0109b3.e47ed8",
        "name": "RxChart",
        "group": "fb888fc.37a5b7",
        "order": 1,
        "width": "6",
        "height": "5",
        "label": "Network Received Data",
        "chartType": "line",
        "legend": "true",
        "xformat": "ss",
        "interpolate": "linear",
        "nodata": "No Data is available for now",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 806.5,
        "y": 497,
        "wires": [
            []
        ]
    },
    {
        "id": "3c633a97.8eb246",
        "type": "redis-command",
        "z": "fa0109b3.e47ed8",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 515,
        "y": 488,
        "wires": [
            [
                "8b551237.189b"
            ]
        ]
    },
    {
        "id": "980e2db3.310dc",
        "type": "function",
        "z": "fa0109b3.e47ed8",
        "name": "RxPackagesKey",
        "func": "msg.topic = 'Packages'\nmsg.payload = ['sensors:os:network:eth0:rx_packages']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 338.5,
        "y": 488,
        "wires": [
            [
                "3c633a97.8eb246"
            ]
        ]
    },
    {
        "id": "ef4d0a96.515238",
        "type": "redis-command",
        "z": "fa0109b3.e47ed8",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 515,
        "y": 521,
        "wires": [
            [
                "8b551237.189b"
            ]
        ]
    },
    {
        "id": "74305007.72692",
        "type": "function",
        "z": "fa0109b3.e47ed8",
        "name": "RxErrorsKey",
        "func": "msg.topic = 'Errors'\nmsg.payload = ['sensors:os:network:eth0:rx_errors']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 327.5,
        "y": 521,
        "wires": [
            [
                "ef4d0a96.515238"
            ]
        ]
    },
    {
        "id": "fee3b1bd.ef816",
        "type": "redis-command",
        "z": "fa0109b3.e47ed8",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 515,
        "y": 555,
        "wires": [
            [
                "72ded6f6.510a58"
            ]
        ]
    },
    {
        "id": "59d0542e.7e024c",
        "type": "function",
        "z": "fa0109b3.e47ed8",
        "name": "TxBytesKey",
        "func": "msg.topic = 'Bytes'\nmsg.payload = ['sensors:os:network:eth0:tx_bytes']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 327.5,
        "y": 555,
        "wires": [
            [
                "fee3b1bd.ef816"
            ]
        ]
    },
    {
        "id": "f755e0a0.d5579",
        "type": "ui_chart",
        "z": "fa0109b3.e47ed8",
        "name": "TxChart",
        "group": "fb888fc.37a5b7",
        "order": 1,
        "width": "6",
        "height": "5",
        "label": "Network Transmitted Data",
        "chartType": "line",
        "legend": "true",
        "xformat": "ss",
        "interpolate": "linear",
        "nodata": "No Data is available for now",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 763,
        "y": 590,
        "wires": [
            []
        ]
    },
    {
        "id": "ef655c83.d2198",
        "type": "redis-command",
        "z": "fa0109b3.e47ed8",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 514.5,
        "y": 588,
        "wires": [
            [
                "f755e0a0.d5579"
            ]
        ]
    },
    {
        "id": "2688327e.4a7cbe",
        "type": "function",
        "z": "fa0109b3.e47ed8",
        "name": "TxPackagesKey",
        "func": "msg.topic = 'Packages'\nmsg.payload = ['sensors:os:network:eth0:tx_packages']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 338,
        "y": 588,
        "wires": [
            [
                "ef655c83.d2198"
            ]
        ]
    },
    {
        "id": "5a1ef128.8dd75",
        "type": "redis-command",
        "z": "fa0109b3.e47ed8",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 514.5,
        "y": 621,
        "wires": [
            [
                "f755e0a0.d5579"
            ]
        ]
    },
    {
        "id": "ad605ba4.3fece8",
        "type": "function",
        "z": "fa0109b3.e47ed8",
        "name": "TxErrorsKey",
        "func": "msg.topic = 'Errors'\nmsg.payload = ['sensors:os:network:eth0:tx_errors']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 327,
        "y": 621,
        "wires": [
            [
                "5a1ef128.8dd75"
            ]
        ]
    },
    {
        "id": "f8b6f466.fa2f38",
        "type": "function",
        "z": "6e40fab5.1057f4",
        "name": "AccelerationKey",
        "func": "msg.topic = 'y'\nmsg.payload = ['sensors:accelerometer:accelerometer_y']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 342,
        "y": 228,
        "wires": [
            [
                "a0c54cc5.704b7"
            ]
        ]
    },
    {
        "id": "a0c54cc5.704b7",
        "type": "redis-command",
        "z": "6e40fab5.1057f4",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 520.5,
        "y": 228,
        "wires": [
            [
                "e0ab96d4.af9c78"
            ]
        ]
    },
    {
        "id": "33b6ead8.5745d6",
        "type": "function",
        "z": "6e40fab5.1057f4",
        "name": "AccelerationKey",
        "func": "msg.topic = 'z'\nmsg.payload = ['sensors:accelerometer:accelerometer_z']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 343,
        "y": 262,
        "wires": [
            [
                "1d0c6d1d.e1f903"
            ]
        ]
    },
    {
        "id": "1d0c6d1d.e1f903",
        "type": "redis-command",
        "z": "6e40fab5.1057f4",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "z",
        "x": 521.5,
        "y": 262,
        "wires": [
            [
                "e0ab96d4.af9c78"
            ]
        ]
    },
    {
        "id": "e2089dea.76b56",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "AccelerationKey",
        "func": "var rand = Math.floor(Math.random() * 20 +30);\nmsg.payload = ['sensors:accelerometer:accelerometer_x',rand]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381,
        "y": 422,
        "wires": [
            [
                "781966d5.28a8a8"
            ]
        ]
    },
    {
        "id": "edc212a5.7a132",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "AccelerationKey",
        "func": "var rand = Math.floor(Math.random() * 20 +30);\nmsg.payload = ['sensors:accelerometer:accelerometer_y',rand]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 381,
        "y": 455,
        "wires": [
            [
                "c808bf3b.11398"
            ]
        ]
    },
    {
        "id": "db640151.5676",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "AccelerationKey",
        "func": "var rand = Math.floor(Math.random() * 20 +30);\nmsg.payload = ['sensors:accelerometer:accelerometer_z',rand]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 488,
        "wires": [
            [
                "27591008.c9647"
            ]
        ]
    },
    {
        "id": "27591008.c9647",
        "type": "redis-command",
        "z": "98123e0c.aea32",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 581,
        "y": 489,
        "wires": [
            []
        ]
    },
    {
        "id": "565d4699.6b37d8",
        "type": "ui_template",
        "z": "995db953.1dbb18",
        "group": "bc6f2bde.c4d278",
        "name": "",
        "order": 2,
        "width": "8",
        "height": "4",
        "format": "<!--<div layout=\"row\" layout-align=\"space-between\">\n    <div id=”” style=”height: 250px; width:100%;overflow:scroll;”>\n        <p>{{msg.payload}}</p>\n    </div>\n</div>-->\n    <div ng-bind-html=\"msg.payload\" style=”height: 400px; width:100%;overflow:scroll;”></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 447,
        "y": 683,
        "wires": [
            []
        ]
    },
    {
        "id": "59031c7c.be58e4",
        "type": "file in",
        "z": "995db953.1dbb18",
        "name": "logFile",
        "filename": "/home/pi/vehicke/communicationManager/ComLog.log.0",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 301,
        "y": 687,
        "wires": [
            [
                "565d4699.6b37d8"
            ]
        ]
    },
    {
        "id": "d6d55800.947688",
        "type": "function",
        "z": "6e40fab5.1057f4",
        "name": "GyroKey",
        "func": "msg.topic = 'x'\nmsg.payload = ['sensors:gyro:gyro_x']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 323,
        "y": 298,
        "wires": [
            [
                "a860c613.ee93c8"
            ]
        ]
    },
    {
        "id": "a860c613.ee93c8",
        "type": "redis-command",
        "z": "6e40fab5.1057f4",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 521.5,
        "y": 298,
        "wires": [
            [
                "17453ed4.c9fa21"
            ]
        ]
    },
    {
        "id": "17453ed4.c9fa21",
        "type": "ui_chart",
        "z": "6e40fab5.1057f4",
        "name": "GyroChart",
        "group": "b6e57e50.aa2e5",
        "order": 1,
        "width": "6",
        "height": "5",
        "label": "Gyro in grad/s",
        "chartType": "line",
        "legend": "true",
        "xformat": "ss",
        "interpolate": "linear",
        "nodata": "No Data is available for now",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 737,
        "y": 330,
        "wires": [
            []
        ]
    },
    {
        "id": "ea1830aa.9117c",
        "type": "function",
        "z": "6e40fab5.1057f4",
        "name": "GyroKey",
        "func": "msg.topic = 'y'\nmsg.payload = ['sensors:gyro:gyro_y']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 323,
        "y": 334,
        "wires": [
            [
                "134885dd.18a1da"
            ]
        ]
    },
    {
        "id": "134885dd.18a1da",
        "type": "redis-command",
        "z": "6e40fab5.1057f4",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 521.5,
        "y": 334,
        "wires": [
            [
                "17453ed4.c9fa21"
            ]
        ]
    },
    {
        "id": "73608d14.ed2904",
        "type": "function",
        "z": "6e40fab5.1057f4",
        "name": "GyroKey",
        "func": "msg.topic = 'z'\nmsg.payload = ['sensors:gyro:gyro_z']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 324,
        "y": 368,
        "wires": [
            [
                "3f4928bf.82d7c8"
            ]
        ]
    },
    {
        "id": "3f4928bf.82d7c8",
        "type": "redis-command",
        "z": "6e40fab5.1057f4",
        "server": "504b5bf5.bbe984",
        "command": "get",
        "name": "RedisGET",
        "topic": "z",
        "x": 522.5,
        "y": 368,
        "wires": [
            [
                "17453ed4.c9fa21"
            ]
        ]
    },
    {
        "id": "9efa1ff2.b0eda",
        "type": "redis-command",
        "z": "98123e0c.aea32",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 599,
        "y": 211,
        "wires": [
            []
        ]
    },
    {
        "id": "da2f8e8e.2bccb",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "TempSensor",
        "func": "var rand = Math.floor(Math.random() * 10 +30);\nmsg.payload = ['sensors:temperature:data',rand]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 369,
        "y": 212,
        "wires": [
            [
                "9efa1ff2.b0eda"
            ]
        ]
    },
    {
        "id": "dcd34730.3114d8",
        "type": "redis-command",
        "z": "98123e0c.aea32",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 599,
        "y": 244,
        "wires": [
            []
        ]
    },
    {
        "id": "ff3515f3.9488e8",
        "type": "function",
        "z": "98123e0c.aea32",
        "name": "TempSensorTimestamp",
        "func": "// https://stackoverflow.com/questions/2573521/how-do-i-output-an-iso-8601-formatted-string-in-javascript\nvar timestamp = new Date().toISOString();\nmsg.payload = ['sensors:temperature:timestamp',timestamp]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 246,
        "wires": [
            [
                "dcd34730.3114d8"
            ]
        ]
    },
    {
        "id": "9133259c.4ffaf8",
        "type": "comment",
        "z": "6e40fab5.1057f4",
        "name": "Emulation",
        "info": "Sensor Values that are emulated.\nshould be kept active!",
        "x": 84,
        "y": 44,
        "wires": []
    },
    {
        "id": "12cd451d.9bf3cb",
        "type": "link in",
        "z": "6e40fab5.1057f4",
        "name": "ConsistDBemul",
        "links": [
            "b2b8b748.558028"
        ],
        "x": 219,
        "y": 39,
        "wires": [
            [
                "3e6ee17b.e3111e",
                "79bf8039.6f673"
            ]
        ]
    },
    {
        "id": "3e6ee17b.e3111e",
        "type": "function",
        "z": "6e40fab5.1057f4",
        "name": "CPUactiveCores",
        "func": "msg.payload = ['CPU:CPUactiveCores','4']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 351,
        "y": 20,
        "wires": [
            [
                "5ba5c0ee.b13fe"
            ]
        ]
    },
    {
        "id": "5ba5c0ee.b13fe",
        "type": "redis-command",
        "z": "6e40fab5.1057f4",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 570,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "79bf8039.6f673",
        "type": "function",
        "z": "6e40fab5.1057f4",
        "name": "numOfRTThreads",
        "func": "var temp = global.get('numOfRTThreads')\nmsg.payload = ['RT:numOfRTThreads',temp]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 55,
        "wires": [
            [
                "b3af7123.b6925"
            ]
        ]
    },
    {
        "id": "b3af7123.b6925",
        "type": "redis-command",
        "z": "6e40fab5.1057f4",
        "server": "504b5bf5.bbe984",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 570,
        "y": 56,
        "wires": [
            []
        ]
    },
    {
        "id": "2b0cf572.32698a",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Start",
        "group": "28dc87b8.08d648",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "start",
        "payloadType": "str",
        "topic": "",
        "x": 402,
        "y": 215,
        "wires": [
            [
                "10e89fc7.274ed"
            ]
        ]
    },
    {
        "id": "5efa8e1a.7978d",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Stop",
        "group": "28dc87b8.08d648",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "",
        "x": 402.5,
        "y": 252,
        "wires": [
            [
                "10e89fc7.274ed"
            ]
        ]
    },
    {
        "id": "ad0e73b2.4355f",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Restart",
        "group": "28dc87b8.08d648",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Restart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "restart",
        "payloadType": "str",
        "topic": "",
        "x": 412.5,
        "y": 290,
        "wires": [
            [
                "10e89fc7.274ed"
            ]
        ]
    },
    {
        "id": "10e89fc7.274ed",
        "type": "exec",
        "z": "995db953.1dbb18",
        "command": "sudo systemctl",
        "addpay": true,
        "append": "sensors.service",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "exec Sensors.service",
        "x": 593,
        "y": 243.5,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "19eb55b2.7798ba",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Start",
        "group": "7e81776d.48b858",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "start",
        "payloadType": "str",
        "topic": "",
        "x": 400,
        "y": 325,
        "wires": [
            [
                "839c3dfc.1e4c5"
            ]
        ]
    },
    {
        "id": "f621f47c.0d3808",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Stop",
        "group": "7e81776d.48b858",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "",
        "x": 400.5,
        "y": 362,
        "wires": [
            [
                "839c3dfc.1e4c5"
            ]
        ]
    },
    {
        "id": "886d02cf.c73cb",
        "type": "ui_button",
        "z": "995db953.1dbb18",
        "name": "Restart",
        "group": "7e81776d.48b858",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Restart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "restart",
        "payloadType": "str",
        "topic": "",
        "x": 410.5,
        "y": 400,
        "wires": [
            [
                "839c3dfc.1e4c5"
            ]
        ]
    },
    {
        "id": "839c3dfc.1e4c5",
        "type": "exec",
        "z": "995db953.1dbb18",
        "command": "sudo systemctl",
        "addpay": true,
        "append": "rfid_sensor.service",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "exec rfid_sensor.service",
        "x": 601,
        "y": 353.5,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "77f027f.83b6ed8",
        "type": "exec",
        "z": "995db953.1dbb18",
        "command": "sudo systemctl is-active sensors.service",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "exec sensors.service",
        "x": 352,
        "y": 862,
        "wires": [
            [
                "990b0414.d044b8"
            ],
            [],
            []
        ]
    },
    {
        "id": "990b0414.d044b8",
        "type": "ui_led",
        "z": "995db953.1dbb18",
        "group": "28dc87b8.08d648",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "State",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "failed",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "active",
                "valueType": "str"
            }
        ],
        "name": "",
        "x": 752,
        "y": 859,
        "wires": []
    },
    {
        "id": "19265c22.2f6574",
        "type": "exec",
        "z": "995db953.1dbb18",
        "command": "sudo systemctl is-active rfid_sensor.service",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "exec rfid_sensor.service",
        "x": 362,
        "y": 913,
        "wires": [
            [
                "678b8713.a6ba58"
            ],
            [],
            []
        ]
    },
    {
        "id": "678b8713.a6ba58",
        "type": "ui_led",
        "z": "995db953.1dbb18",
        "group": "7e81776d.48b858",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "State",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "failed",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "active",
                "valueType": "str"
            }
        ],
        "name": "",
        "x": 752,
        "y": 910,
        "wires": []
    },
    {
        "id": "6095cbda.c481c4",
        "type": "comment",
        "z": "995db953.1dbb18",
        "name": "needs routing here!",
        "info": "",
        "x": 111,
        "y": 759,
        "wires": []
    },
    {
        "id": "c9738e7.36d827",
        "type": "function",
        "z": "56a5114c.9568b",
        "name": "ChartJsData",
        "func": "var dataArray = msg.payload[0].data[0]\nvar dataset = new Array(360);\nfor (var i = 0; i < 360;i++) {\n    dataset[i] = {};\n    dataset[i].x = i.toString();\n    dataset[i].y = dataArray[i];\n}\nmsg.payload = {\n    \"channel\": \"Population\",\n    \"color\": flow.get('randomColorsArray'),\n    \"dataset\": dataset\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 112,
        "y": 342,
        "wires": [
            [
                "1b0517b7.fc6818",
                "67c6a0e1.41425"
            ]
        ]
    },
    {
        "id": "1b0517b7.fc6818",
        "type": "chartjs-polar",
        "z": "56a5114c.9568b",
        "name": "Lidar",
        "path": "Lidar",
        "charttitle": "Lidar Distances",
        "xaxis": "Distances in cm",
        "yaxis": "Angles in Degree",
        "x": 286,
        "y": 341,
        "wires": [
            []
        ]
    },
    {
        "id": "67c6a0e1.41425",
        "type": "debug",
        "z": "56a5114c.9568b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 306.5,
        "y": 392,
        "wires": []
    },
    {
        "id": "c5e97334.c1271",
        "type": "function",
        "z": "fa0109b3.e47ed8",
        "name": "",
        "func": "msg.payload = msg.payload / 1024;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 659.5,
        "y": 459,
        "wires": [
            [
                "8b551237.189b"
            ]
        ]
    },
    {
        "id": "72ded6f6.510a58",
        "type": "function",
        "z": "fa0109b3.e47ed8",
        "name": "",
        "func": "msg.payload = msg.payload / 1024;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 644,
        "y": 554,
        "wires": [
            [
                "f755e0a0.d5579"
            ]
        ]
    }
]