UI/flows.json
[
    {
        "id": "33dcc03f.67613",
        "type": "tab",
        "label": "DB Controller",
        "disabled": false,
        "info": ""
    },
    {
        "id": "831252f4.92bf1",
        "type": "tab",
        "label": "DB_Emulator",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e8dbdd27.bc963",
        "type": "tab",
        "label": "Logger",
        "disabled": false,
        "info": ""
    },
    {
        "id": "11287ab8.c34bb5",
        "type": "tab",
        "label": "MQTT_Emulater",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ebc99a82.864458",
        "type": "redis-config",
        "z": "",
        "host": "localhost",
        "port": "6379",
        "dbase": "0",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "6650949.a2e696c",
        "type": "redis-config",
        "z": "",
        "host": "172.17.0.4",
        "port": "6379",
        "dbase": "0",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "e4b2db50.96f6f8",
        "type": "redis-config",
        "z": "",
        "host": "localhost",
        "port": "6379",
        "dbase": "1",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "2aef9b91.458214",
        "type": "redis-config",
        "z": "",
        "host": "{{REDIS_SERVER}}",
        "port": "{{REDIS_PORT}}",
        "dbase": "{{REDIS_DB}}",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "195141ae.ff7b4e",
        "type": "ui_tab",
        "z": "",
        "name": "System Monitoring",
        "icon": "fa-bar-chart",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "79604c96.43be94",
        "type": "ui_group",
        "z": "",
        "name": "Stats",
        "tab": "195141ae.ff7b4e",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7dd12d0.d082cd4",
        "type": "ui_group",
        "z": "",
        "name": "Driver",
        "tab": "195141ae.ff7b4e",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "186e2257.27294e",
        "type": "ui_group",
        "z": "",
        "name": "System Control",
        "tab": "affe1c3a.a3c4f",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e213339d.c1b74",
        "type": "ui_group",
        "z": "",
        "name": "Logfile",
        "tab": "affe1c3a.a3c4f",
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "affe1c3a.a3c4f",
        "type": "ui_tab",
        "z": "",
        "name": "System Control",
        "icon": "settings",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6e3e5b22.9b2194",
        "type": "ui_group",
        "z": "",
        "name": "Sensors",
        "tab": "195141ae.ff7b4e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f5f92e65.10957",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "957681cb.1dfec",
        "type": "mqtt-broker",
        "z": "",
        "name": "localMqttBroker",
        "broker": "localhost",
        "port": "1888",
        "clientid": "nodeRedSubscriber",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2cf2dec3.233862",
        "type": "mqtt-broker",
        "z": "",
        "name": "eclipse-mosquittoContainer",
        "broker": "172.17.0.5",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "14312978.33ce27",
        "type": "redis-command",
        "z": "33dcc03f.67613",
        "server": "6650949.a2e696c",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 420,
        "y": 320,
        "wires": [
            [
                "41e1738d.df45ec"
            ]
        ]
    },
    {
        "id": "30d091cb.69404e",
        "type": "function",
        "z": "33dcc03f.67613",
        "name": "RedisKey",
        "func": "msg.payload = ['jitter']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 281.5,
        "y": 320,
        "wires": [
            [
                "14312978.33ce27"
            ]
        ]
    },
    {
        "id": "27d9a27d.8c1e8e",
        "type": "inject",
        "z": "33dcc03f.67613",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 114.5,
        "y": 339,
        "wires": [
            [
                "30d091cb.69404e",
                "bf5da47d.0ee758"
            ]
        ]
    },
    {
        "id": "c6849d41.d73ea",
        "type": "redis-command",
        "z": "831252f4.92bf1",
        "server": "6650949.a2e696c",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 366,
        "y": 173,
        "wires": [
            []
        ]
    },
    {
        "id": "7c01693b.3c4bc8",
        "type": "inject",
        "z": "831252f4.92bf1",
        "name": "setStats",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 165,
        "y": 181,
        "wires": [
            [
                "fb70ca83.ef5678",
                "a828970b.1f1188"
            ]
        ]
    },
    {
        "id": "fb70ca83.ef5678",
        "type": "function",
        "z": "831252f4.92bf1",
        "name": "Jitter",
        "func": "var rand = Math.floor(Math.random() * 11);\nmsg.payload = ['jitter',rand]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 355,
        "y": 137,
        "wires": [
            [
                "c6849d41.d73ea",
                "dd0cd89b.616278"
            ]
        ]
    },
    {
        "id": "41e1738d.df45ec",
        "type": "ui_chart",
        "z": "33dcc03f.67613",
        "name": "JitterChart",
        "group": "79604c96.43be94",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Jitter in ms",
        "chartType": "line",
        "legend": "true",
        "xformat": "ss",
        "interpolate": "linear",
        "nodata": "No Data is available for now",
        "dot": true,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 591,
        "y": 319,
        "wires": [
            []
        ]
    },
    {
        "id": "6af3efa1.5923f",
        "type": "ui_text",
        "z": "33dcc03f.67613",
        "group": "7dd12d0.d082cd4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "ID_Text",
        "label": "Driver ID",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 719.5,
        "y": 63,
        "wires": []
    },
    {
        "id": "efdfc389.aab4a",
        "type": "function",
        "z": "33dcc03f.67613",
        "name": "RedisKey",
        "func": "msg.payload = ['Driver:id']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 63,
        "wires": [
            [
                "8cbdf613.967328"
            ]
        ]
    },
    {
        "id": "8cbdf613.967328",
        "type": "redis-command",
        "z": "33dcc03f.67613",
        "server": "6650949.a2e696c",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 557.5,
        "y": 63,
        "wires": [
            [
                "6af3efa1.5923f"
            ]
        ]
    },
    {
        "id": "449caa50.b8bfd4",
        "type": "inject",
        "z": "33dcc03f.67613",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 111,
        "y": 98,
        "wires": [
            [
                "efdfc389.aab4a",
                "209ab1b3.31d7ee",
                "7a21d643.3fe2a8",
                "e49dd927.11dfa8"
            ]
        ]
    },
    {
        "id": "86ab0c9d.8dbe7",
        "type": "redis-command",
        "z": "831252f4.92bf1",
        "server": "6650949.a2e696c",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 366,
        "y": 319,
        "wires": [
            []
        ]
    },
    {
        "id": "a83a86d4.7247e8",
        "type": "function",
        "z": "831252f4.92bf1",
        "name": "ID",
        "func": "var rand = Math.floor(Math.random() * 1000);\nmsg.payload = ['Driver:id',rand]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 356,
        "y": 283,
        "wires": [
            [
                "86ab0c9d.8dbe7",
                "dd0cd89b.616278"
            ]
        ]
    },
    {
        "id": "518972fe.e0562c",
        "type": "ui_text",
        "z": "33dcc03f.67613",
        "group": "7dd12d0.d082cd4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "firstNameText",
        "label": "Driver Firstname",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740.5,
        "y": 104,
        "wires": []
    },
    {
        "id": "209ab1b3.31d7ee",
        "type": "function",
        "z": "33dcc03f.67613",
        "name": "RedisKey",
        "func": "msg.payload = ['Driver:firstName']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 104,
        "wires": [
            [
                "7be64816.6f8168"
            ]
        ]
    },
    {
        "id": "7be64816.6f8168",
        "type": "redis-command",
        "z": "33dcc03f.67613",
        "server": "6650949.a2e696c",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 557.5,
        "y": 104,
        "wires": [
            [
                "518972fe.e0562c"
            ]
        ]
    },
    {
        "id": "7a21d643.3fe2a8",
        "type": "function",
        "z": "33dcc03f.67613",
        "name": "RedisKey",
        "func": "msg.payload = ['Driver:lastName']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 148,
        "wires": [
            [
                "bcceff7a.55f4a"
            ]
        ]
    },
    {
        "id": "bcceff7a.55f4a",
        "type": "redis-command",
        "z": "33dcc03f.67613",
        "server": "6650949.a2e696c",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 555.5,
        "y": 147,
        "wires": [
            [
                "cc526e15.adf67"
            ]
        ]
    },
    {
        "id": "cc526e15.adf67",
        "type": "ui_text",
        "z": "33dcc03f.67613",
        "group": "7dd12d0.d082cd4",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "lastNameText",
        "label": "Driver Lastname",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740.5,
        "y": 147,
        "wires": []
    },
    {
        "id": "8f6c2600.51ada8",
        "type": "redis-command",
        "z": "831252f4.92bf1",
        "server": "6650949.a2e696c",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 367,
        "y": 389,
        "wires": [
            []
        ]
    },
    {
        "id": "b51253ec.a3612",
        "type": "function",
        "z": "831252f4.92bf1",
        "name": "firstName",
        "func": "msg.payload = ['Driver:firstName','Mouaad']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 366,
        "y": 353,
        "wires": [
            [
                "8f6c2600.51ada8",
                "dd0cd89b.616278"
            ]
        ]
    },
    {
        "id": "16a2545a.a1dc5c",
        "type": "redis-command",
        "z": "831252f4.92bf1",
        "server": "6650949.a2e696c",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 367,
        "y": 457,
        "wires": [
            []
        ]
    },
    {
        "id": "af41001a.336be",
        "type": "function",
        "z": "831252f4.92bf1",
        "name": "lastName",
        "func": "msg.payload = ['Driver:lastName','Gssair']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 366,
        "y": 421,
        "wires": [
            [
                "16a2545a.a1dc5c",
                "dd0cd89b.616278"
            ]
        ]
    },
    {
        "id": "20592734.540628",
        "type": "ui_switch",
        "z": "33dcc03f.67613",
        "name": "LidarSensorSwitch",
        "label": "switch",
        "tooltip": "",
        "group": "186e2257.27294e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 290,
        "y": 580,
        "wires": [
            [
                "9117163c.8dd608",
                "868f9b0e.7242c8"
            ]
        ]
    },
    {
        "id": "9117163c.8dd608",
        "type": "function",
        "z": "33dcc03f.67613",
        "name": "",
        "func": "var newMsg = {payload: msg.payload,topic:msg.topic};\nnewMsg.payload = ['LidarSensorState',msg.payload]\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 477.5,
        "y": 565,
        "wires": [
            [
                "a1e3177.9693be8"
            ]
        ]
    },
    {
        "id": "a1e3177.9693be8",
        "type": "redis-command",
        "z": "33dcc03f.67613",
        "server": "6650949.a2e696c",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 629.5,
        "y": 565,
        "wires": [
            []
        ]
    },
    {
        "id": "4fb971aa.107d5",
        "type": "ui_text",
        "z": "33dcc03f.67613",
        "group": "186e2257.27294e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "LidarSensorState",
        "label": "Lidar Sensor is ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 659.5,
        "y": 601,
        "wires": []
    },
    {
        "id": "6cafc852.a4a4c8",
        "type": "ui_switch",
        "z": "33dcc03f.67613",
        "name": "CPUTempSwitch",
        "label": "switch",
        "tooltip": "",
        "group": "186e2257.27294e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 288.5,
        "y": 662,
        "wires": [
            [
                "66557a8b.215044",
                "161c3c72.7b8de4"
            ]
        ]
    },
    {
        "id": "66557a8b.215044",
        "type": "function",
        "z": "33dcc03f.67613",
        "name": "",
        "func": "var newMsg = {payload: msg.payload,topic:msg.topic};\nnewMsg.payload = ['CPUTempState',msg.payload]\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 476,
        "y": 649,
        "wires": [
            [
                "a1730f57.71fec"
            ]
        ]
    },
    {
        "id": "a1730f57.71fec",
        "type": "redis-command",
        "z": "33dcc03f.67613",
        "server": "6650949.a2e696c",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 630,
        "y": 649,
        "wires": [
            []
        ]
    },
    {
        "id": "dc330436.4df198",
        "type": "ui_text",
        "z": "33dcc03f.67613",
        "group": "186e2257.27294e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "CPUTempState",
        "label": "CPU Temperature Monitor is ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 649,
        "y": 683,
        "wires": []
    },
    {
        "id": "5d09c241.36e59c",
        "type": "redis-command",
        "z": "33dcc03f.67613",
        "server": "6650949.a2e696c",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 421,
        "y": 362,
        "wires": [
            [
                "a85b6525.225488"
            ]
        ]
    },
    {
        "id": "bf5da47d.0ee758",
        "type": "function",
        "z": "33dcc03f.67613",
        "name": "RedisKey",
        "func": "msg.payload = ['CPUTemp']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 281.5,
        "y": 362,
        "wires": [
            [
                "5d09c241.36e59c"
            ]
        ]
    },
    {
        "id": "9216b8e0.f348f8",
        "type": "redis-command",
        "z": "831252f4.92bf1",
        "server": "6650949.a2e696c",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 367,
        "y": 246,
        "wires": [
            []
        ]
    },
    {
        "id": "a828970b.1f1188",
        "type": "function",
        "z": "831252f4.92bf1",
        "name": "CPUTemp",
        "func": "var rand = Math.floor(Math.random() * 10 +30);\nmsg.payload = ['CPUTemp',rand]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 376,
        "y": 209,
        "wires": [
            [
                "9216b8e0.f348f8",
                "dd0cd89b.616278"
            ]
        ]
    },
    {
        "id": "a85b6525.225488",
        "type": "ui_gauge",
        "z": "33dcc03f.67613",
        "name": "TempChart",
        "group": "6e3e5b22.9b2194",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "C°",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 591,
        "y": 361,
        "wires": []
    },
    {
        "id": "868f9b0e.7242c8",
        "type": "function",
        "z": "33dcc03f.67613",
        "name": "",
        "func": "var newMsg = {payload: msg.payload,topic:msg.topic};\nif(msg.payload){\n    newMsg.payload = 'ON'\n}\nelse{\n    newMsg.payload = 'OFF'\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 477.5,
        "y": 601,
        "wires": [
            [
                "4fb971aa.107d5"
            ]
        ]
    },
    {
        "id": "161c3c72.7b8de4",
        "type": "function",
        "z": "33dcc03f.67613",
        "name": "",
        "func": "var newMsg = {payload: msg.payload,topic:msg.topic};\nif(msg.payload){\n    newMsg.payload = 'ON'\n}\nelse{\n    newMsg.payload = 'OFF'\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 476.5,
        "y": 683,
        "wires": [
            [
                "dc330436.4df198"
            ]
        ]
    },
    {
        "id": "dd0cd89b.616278",
        "type": "file",
        "z": "831252f4.92bf1",
        "name": "logFile",
        "filename": "logFile.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 610.5,
        "y": 279,
        "wires": [
            []
        ]
    },
    {
        "id": "1d7ed96.8d01927",
        "type": "ui_template",
        "z": "e8dbdd27.bc963",
        "group": "e213339d.c1b74",
        "name": "",
        "order": 2,
        "width": "8",
        "height": "4",
        "format": "<!--<div layout=\"row\" layout-align=\"space-between\">\n    <div id=”” style=”height: 250px; width:100%;overflow:scroll;”>\n        <p>{{msg.payload}}</p>\n    </div>\n</div>-->\n    <div ng-bind-html=\"msg.payload\" style=”height: 400px; width:100%;overflow:scroll;”></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 589.5,
        "y": 178,
        "wires": [
            []
        ]
    },
    {
        "id": "6caae561.76d11c",
        "type": "file in",
        "z": "e8dbdd27.bc963",
        "name": "logFile",
        "filename": "logFile.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 439.5,
        "y": 178,
        "wires": [
            [
                "1d7ed96.8d01927"
            ]
        ]
    },
    {
        "id": "69cd2409.f6678c",
        "type": "comment",
        "z": "33dcc03f.67613",
        "name": "User_rights",
        "info": "Check if the user is allowed to change the Settings is the Control",
        "x": 79.5,
        "y": 482,
        "wires": []
    },
    {
        "id": "8adcf31f.eb84c",
        "type": "link in",
        "z": "831252f4.92bf1",
        "name": "Driver",
        "links": [
            "41f6fd46.8cc0f4"
        ],
        "x": 180.5,
        "y": 352,
        "wires": [
            [
                "a83a86d4.7247e8",
                "b51253ec.a3612",
                "af41001a.336be",
                "635526a3.85a358",
                "aea2a73d.5cdfa8"
            ]
        ]
    },
    {
        "id": "41f6fd46.8cc0f4",
        "type": "link out",
        "z": "33dcc03f.67613",
        "name": "injectData",
        "links": [
            "8adcf31f.eb84c",
            "9df3a8ae.159338"
        ],
        "x": 291.5,
        "y": 21,
        "wires": []
    },
    {
        "id": "9df3a8ae.159338",
        "type": "link in",
        "z": "e8dbdd27.bc963",
        "name": "logFile",
        "links": [
            "41f6fd46.8cc0f4"
        ],
        "x": 284.5,
        "y": 178,
        "wires": [
            [
                "6caae561.76d11c"
            ]
        ]
    },
    {
        "id": "46686535.94558c",
        "type": "inject",
        "z": "33dcc03f.67613",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 98.5,
        "y": 34,
        "wires": [
            [
                "41f6fd46.8cc0f4",
                "efdfc389.aab4a",
                "209ab1b3.31d7ee",
                "7a21d643.3fe2a8",
                "e49dd927.11dfa8"
            ]
        ]
    },
    {
        "id": "ba0ada72.089378",
        "type": "redis-command",
        "z": "831252f4.92bf1",
        "server": "6650949.a2e696c",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 368,
        "y": 526,
        "wires": [
            []
        ]
    },
    {
        "id": "635526a3.85a358",
        "type": "function",
        "z": "831252f4.92bf1",
        "name": "authLevel",
        "func": "msg.payload = ['Driver:authLevel','2']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 367,
        "y": 490,
        "wires": [
            [
                "ba0ada72.089378"
            ]
        ]
    },
    {
        "id": "e49dd927.11dfa8",
        "type": "function",
        "z": "33dcc03f.67613",
        "name": "RedisKey",
        "func": "msg.payload = ['Driver:authLevel']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 190,
        "wires": [
            [
                "d827814c.143f3"
            ]
        ]
    },
    {
        "id": "d827814c.143f3",
        "type": "redis-command",
        "z": "33dcc03f.67613",
        "server": "6650949.a2e696c",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 555.5,
        "y": 189,
        "wires": [
            [
                "23773a40.778136"
            ]
        ]
    },
    {
        "id": "23773a40.778136",
        "type": "ui_text",
        "z": "33dcc03f.67613",
        "group": "7dd12d0.d082cd4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "authLevelText",
        "label": "Driver Authentication Level",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740.5,
        "y": 189,
        "wires": []
    },
    {
        "id": "5a72fed4.95a66",
        "type": "mqtt in",
        "z": "11287ab8.c34bb5",
        "name": "DriverAuthRequest",
        "topic": "/V1/Driver/AuthRequest/",
        "qos": "2",
        "datatype": "auto",
        "broker": "2cf2dec3.233862",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "96ee97f8.380108",
                "c0b6fbff.685e18"
            ]
        ]
    },
    {
        "id": "96ee97f8.380108",
        "type": "debug",
        "z": "11287ab8.c34bb5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "a956cfd.c6dcb3",
        "type": "mqtt out",
        "z": "11287ab8.c34bb5",
        "name": "",
        "topic": "/V1/Driver/AuthRequest/",
        "qos": "2",
        "retain": "",
        "broker": "2cf2dec3.233862",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "38e1cada.e02086",
        "type": "inject",
        "z": "11287ab8.c34bb5",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "d270f890.003958"
            ]
        ]
    },
    {
        "id": "d270f890.003958",
        "type": "function",
        "z": "11287ab8.c34bb5",
        "name": "AuthRequest",
        "func": "msg.payload = {\n    \"id\":\"973453\",\n    \"timestamp\":\"20190607T134601Z\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "43d0f57b.a078bc"
            ]
        ]
    },
    {
        "id": "43d0f57b.a078bc",
        "type": "json",
        "z": "11287ab8.c34bb5",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 450,
        "y": 80,
        "wires": [
            [
                "a956cfd.c6dcb3"
            ]
        ]
    },
    {
        "id": "c0b6fbff.685e18",
        "type": "function",
        "z": "11287ab8.c34bb5",
        "name": "RequestCheck",
        "func": "var obj = JSON.parse(msg.payload);\nvar res = new Object();\nif(obj.hasOwnProperty('id') && obj.hasOwnProperty('timestamp')){\n    res.id = obj.id;\n    res.firstName = 'Karl';\n    res.lastName = 'Eugen';\n    res.authLevel = '2';\n}\nmsg.payload = res;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "b960fe7d.576cc",
                "3e2409d6.cbf1c6"
            ]
        ]
    },
    {
        "id": "b960fe7d.576cc",
        "type": "debug",
        "z": "11287ab8.c34bb5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "6ab40baa.1df3b4",
        "type": "mqtt out",
        "z": "11287ab8.c34bb5",
        "name": "",
        "topic": "/V1/Driver/AuthResponse/",
        "qos": "2",
        "retain": "",
        "broker": "2cf2dec3.233862",
        "x": 540,
        "y": 300,
        "wires": []
    },
    {
        "id": "3e2409d6.cbf1c6",
        "type": "json",
        "z": "11287ab8.c34bb5",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 330,
        "y": 300,
        "wires": [
            [
                "6ab40baa.1df3b4",
                "1df3af7c.bf3391"
            ]
        ]
    },
    {
        "id": "1df3af7c.bf3391",
        "type": "debug",
        "z": "11287ab8.c34bb5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 470,
        "y": 360,
        "wires": []
    },
    {
        "id": "e297d7fe.64fa38",
        "type": "redis-command",
        "z": "831252f4.92bf1",
        "server": "6650949.a2e696c",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 367,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "aea2a73d.5cdfa8",
        "type": "function",
        "z": "831252f4.92bf1",
        "name": "isPresent",
        "func": "msg.payload = ['Driver:isPresent','true']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 366,
        "y": 564,
        "wires": [
            [
                "e297d7fe.64fa38"
            ]
        ]
    },
    {
        "id": "be2ca0e7.ce727",
        "type": "redis-command",
        "z": "831252f4.92bf1",
        "server": "6650949.a2e696c",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 327,
        "y": 673,
        "wires": [
            []
        ]
    },
    {
        "id": "b08df44c.6dd598",
        "type": "function",
        "z": "831252f4.92bf1",
        "name": "isPresentFalse",
        "func": "msg.payload = ['Driver:authLevel','2']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 346,
        "y": 637,
        "wires": [
            [
                "be2ca0e7.ce727"
            ]
        ]
    },
    {
        "id": "d7d1933c.e74da",
        "type": "inject",
        "z": "831252f4.92bf1",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 660,
        "wires": [
            [
                "be2ca0e7.ce727"
            ]
        ]
    },
    {
        "id": "7efa239f.cc59dc",
        "type": "redis-command",
        "z": "33dcc03f.67613",
        "server": "6650949.a2e696c",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 420,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "e4b072e6.dbd5b",
        "type": "function",
        "z": "33dcc03f.67613",
        "name": "RedisKey",
        "func": "msg.payload = ['sensors:Lidar:angles']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 281.5,
        "y": 400,
        "wires": [
            [
                "7efa239f.cc59dc"
            ]
        ]
    },
    {
        "id": "efe526c1.ab8c08",
        "type": "redis-command",
        "z": "33dcc03f.67613",
        "server": "6650949.a2e696c",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 420,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "fac0d8eb.a0eb88",
        "type": "function",
        "z": "33dcc03f.67613",
        "name": "RedisKey",
        "func": "msg.payload = ['sensors:Lidar:distances']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 281.5,
        "y": 440,
        "wires": [
            [
                "efe526c1.ab8c08"
            ]
        ]
    }
]