UI/flows.json
[
    {
        "id": "e0e8e281.8b134",
        "type": "tab",
        "label": "DB Controller",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8fd41ebe.5ff24",
        "type": "tab",
        "label": "Simoulator",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cd33f719.aa6ac8",
        "type": "tab",
        "label": "Logger",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5cdf40c6.8d85a",
        "type": "redis-config",
        "z": "",
        "host": "localhost",
        "port": "6380",
        "dbase": "0",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "e845cbcc.63b5a8",
        "type": "redis-config",
        "z": "",
        "host": "localhost",
        "port": "6379",
        "dbase": "1",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "5fbc3cf0.917fa4",
        "type": "redis-config",
        "z": "",
        "host": "{{REDIS_SERVER}}",
        "port": "{{REDIS_PORT}}",
        "dbase": "{{REDIS_DB}}",
        "pass": "{{REDIS_PASSWORD}}"
    },
    {
        "id": "83d56137.37f74",
        "type": "ui_tab",
        "z": "",
        "name": "System Monitoring",
        "icon": "fa-bar-chart",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "31e7cf83.d893a",
        "type": "ui_group",
        "z": "",
        "name": "Stats",
        "tab": "83d56137.37f74",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "87430462.9c7e98",
        "type": "ui_group",
        "z": "",
        "name": "Driver",
        "tab": "83d56137.37f74",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "390b0307.f58fac",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#0ec1ca",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#0ec1ca",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0ec1ca",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#34e8f1",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0ec1ca",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 2,
                "py": 2
            }
        }
    },
    {
        "id": "4b146290.cdc09c",
        "type": "ui_group",
        "z": "",
        "name": "System Control",
        "tab": "7696771d.19f588",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c488c0b3.13cb1",
        "type": "ui_group",
        "z": "",
        "name": "Logfile",
        "tab": "7696771d.19f588",
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "a80a5d67.17a27",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c488c0b3.13cb1",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "7696771d.19f588",
        "type": "ui_tab",
        "z": "",
        "name": "System Control",
        "icon": "settings",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fef0261c.c3acc8",
        "type": "ui_group",
        "z": "",
        "name": "Sensors",
        "tab": "83d56137.37f74",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "59bee567.831fac",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "87430462.9c7e98",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "59ad581d.a55aa8",
        "type": "redis-command",
        "z": "e0e8e281.8b134",
        "server": "5cdf40c6.8d85a",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 416.5,
        "y": 222,
        "wires": [
            [
                "f956f306.5bd48"
            ]
        ]
    },
    {
        "id": "e12c2fdc.cbe43",
        "type": "function",
        "z": "e0e8e281.8b134",
        "name": "RedisKey",
        "func": "msg.payload = ['jitter']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 278,
        "y": 222,
        "wires": [
            [
                "59ad581d.a55aa8"
            ]
        ]
    },
    {
        "id": "49de73a9.e3402c",
        "type": "inject",
        "z": "e0e8e281.8b134",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 111,
        "y": 241,
        "wires": [
            [
                "e12c2fdc.cbe43",
                "b9b7ca37.8db678"
            ]
        ]
    },
    {
        "id": "7f34348b.80637c",
        "type": "redis-command",
        "z": "8fd41ebe.5ff24",
        "server": "5cdf40c6.8d85a",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 366,
        "y": 173,
        "wires": [
            []
        ]
    },
    {
        "id": "562e328.c61fbcc",
        "type": "inject",
        "z": "8fd41ebe.5ff24",
        "name": "setStats",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 165,
        "y": 181,
        "wires": [
            [
                "ae0d1da9.09e13",
                "4eedf7d0.423578"
            ]
        ]
    },
    {
        "id": "ae0d1da9.09e13",
        "type": "function",
        "z": "8fd41ebe.5ff24",
        "name": "Jitter",
        "func": "var rand = Math.floor(Math.random() * 11);\nmsg.payload = ['jitter',rand]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 355,
        "y": 137,
        "wires": [
            [
                "7f34348b.80637c",
                "69c32aa4.afb474"
            ]
        ]
    },
    {
        "id": "f956f306.5bd48",
        "type": "ui_chart",
        "z": "e0e8e281.8b134",
        "name": "JitterChart",
        "group": "31e7cf83.d893a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Jitter in ms",
        "chartType": "line",
        "legend": "true",
        "xformat": "ss",
        "interpolate": "linear",
        "nodata": "No Data is available for now",
        "dot": true,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 587.5,
        "y": 221,
        "wires": [
            []
        ]
    },
    {
        "id": "e7bf5ed0.bc9b9",
        "type": "ui_text",
        "z": "e0e8e281.8b134",
        "group": "87430462.9c7e98",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "ID_Text",
        "label": "Driver ID",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 719.5,
        "y": 63,
        "wires": []
    },
    {
        "id": "8ab46768.f860a8",
        "type": "function",
        "z": "e0e8e281.8b134",
        "name": "RedisKey",
        "func": "msg.payload = ['Driver:ID']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 63,
        "wires": [
            [
                "8c1f23c2.9c3a9"
            ]
        ]
    },
    {
        "id": "8c1f23c2.9c3a9",
        "type": "redis-command",
        "z": "e0e8e281.8b134",
        "server": "5cdf40c6.8d85a",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 557.5,
        "y": 63,
        "wires": [
            [
                "e7bf5ed0.bc9b9"
            ]
        ]
    },
    {
        "id": "d829ea55.64da58",
        "type": "inject",
        "z": "e0e8e281.8b134",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 111,
        "y": 98,
        "wires": [
            [
                "8ab46768.f860a8",
                "3e42d0db.a564c",
                "f838cf1b.6f8"
            ]
        ]
    },
    {
        "id": "84786765.dd0658",
        "type": "redis-command",
        "z": "8fd41ebe.5ff24",
        "server": "5cdf40c6.8d85a",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 366,
        "y": 319,
        "wires": [
            []
        ]
    },
    {
        "id": "d2d386ba.b7d908",
        "type": "function",
        "z": "8fd41ebe.5ff24",
        "name": "ID",
        "func": "var rand = Math.floor(Math.random() * 1000);\nmsg.payload = ['Driver:ID',rand]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 356,
        "y": 283,
        "wires": [
            [
                "84786765.dd0658",
                "69c32aa4.afb474"
            ]
        ]
    },
    {
        "id": "98a35c79.18051",
        "type": "ui_text",
        "z": "e0e8e281.8b134",
        "group": "87430462.9c7e98",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "firstNameText",
        "label": "Driver Firstname",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740.5,
        "y": 104,
        "wires": []
    },
    {
        "id": "3e42d0db.a564c",
        "type": "function",
        "z": "e0e8e281.8b134",
        "name": "RedisKey",
        "func": "msg.payload = ['Driver:firstName']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 104,
        "wires": [
            [
                "1bc2757b.2b92cb"
            ]
        ]
    },
    {
        "id": "1bc2757b.2b92cb",
        "type": "redis-command",
        "z": "e0e8e281.8b134",
        "server": "5cdf40c6.8d85a",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 557.5,
        "y": 104,
        "wires": [
            [
                "98a35c79.18051"
            ]
        ]
    },
    {
        "id": "f838cf1b.6f8",
        "type": "function",
        "z": "e0e8e281.8b134",
        "name": "RedisKey",
        "func": "msg.payload = ['Driver:lastName']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 148,
        "wires": [
            [
                "c7796ad.c0b0698"
            ]
        ]
    },
    {
        "id": "c7796ad.c0b0698",
        "type": "redis-command",
        "z": "e0e8e281.8b134",
        "server": "5cdf40c6.8d85a",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 555.5,
        "y": 147,
        "wires": [
            [
                "50a7de3.85b262"
            ]
        ]
    },
    {
        "id": "50a7de3.85b262",
        "type": "ui_text",
        "z": "e0e8e281.8b134",
        "group": "87430462.9c7e98",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "lastNameText",
        "label": "Driver Lastname",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740.5,
        "y": 147,
        "wires": []
    },
    {
        "id": "4f0fb412.a69ebc",
        "type": "redis-command",
        "z": "8fd41ebe.5ff24",
        "server": "5cdf40c6.8d85a",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 367,
        "y": 389,
        "wires": [
            []
        ]
    },
    {
        "id": "52bcffe3.daec8",
        "type": "function",
        "z": "8fd41ebe.5ff24",
        "name": "firstName",
        "func": "msg.payload = ['Driver:firstName','Mouaad']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 366,
        "y": 353,
        "wires": [
            [
                "4f0fb412.a69ebc",
                "69c32aa4.afb474"
            ]
        ]
    },
    {
        "id": "be525e01.d80de",
        "type": "redis-command",
        "z": "8fd41ebe.5ff24",
        "server": "5cdf40c6.8d85a",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 367,
        "y": 457,
        "wires": [
            []
        ]
    },
    {
        "id": "6cf5d872.367ec8",
        "type": "function",
        "z": "8fd41ebe.5ff24",
        "name": "lastName",
        "func": "msg.payload = ['Driver:lastName','Gssair']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 366,
        "y": 421,
        "wires": [
            [
                "be525e01.d80de",
                "69c32aa4.afb474"
            ]
        ]
    },
    {
        "id": "67316807.6f1368",
        "type": "ui_switch",
        "z": "e0e8e281.8b134",
        "name": "LidarSensorSwitch",
        "label": "switch",
        "tooltip": "",
        "group": "4b146290.cdc09c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 305.5,
        "y": 441,
        "wires": [
            [
                "1be99f2b.ce9711",
                "8fc80cdd.8a868"
            ]
        ]
    },
    {
        "id": "1be99f2b.ce9711",
        "type": "function",
        "z": "e0e8e281.8b134",
        "name": "",
        "func": "var newMsg = {payload: msg.payload,topic:msg.topic};\nnewMsg.payload = ['LidarSensorState',msg.payload]\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 493,
        "y": 426,
        "wires": [
            [
                "795e9a6c.e27e04"
            ]
        ]
    },
    {
        "id": "795e9a6c.e27e04",
        "type": "redis-command",
        "z": "e0e8e281.8b134",
        "server": "5cdf40c6.8d85a",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 645,
        "y": 426,
        "wires": [
            []
        ]
    },
    {
        "id": "753b4195.2848a",
        "type": "ui_text",
        "z": "e0e8e281.8b134",
        "group": "4b146290.cdc09c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "LidarSensorState",
        "label": "Lidar Sensor is ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 675,
        "y": 462,
        "wires": []
    },
    {
        "id": "a0f3e49b.2f8a38",
        "type": "ui_switch",
        "z": "e0e8e281.8b134",
        "name": "CPUTempSwitch",
        "label": "switch",
        "tooltip": "",
        "group": "4b146290.cdc09c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 304,
        "y": 523,
        "wires": [
            [
                "8915e2e3.0530c",
                "de7b3264.4c9a2"
            ]
        ]
    },
    {
        "id": "8915e2e3.0530c",
        "type": "function",
        "z": "e0e8e281.8b134",
        "name": "",
        "func": "var newMsg = {payload: msg.payload,topic:msg.topic};\nnewMsg.payload = ['CPUTempState',msg.payload]\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 491.5,
        "y": 510,
        "wires": [
            [
                "517bd8f1.ea18d8"
            ]
        ]
    },
    {
        "id": "517bd8f1.ea18d8",
        "type": "redis-command",
        "z": "e0e8e281.8b134",
        "server": "5cdf40c6.8d85a",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 645.5,
        "y": 510,
        "wires": [
            []
        ]
    },
    {
        "id": "d1824814.06b9f8",
        "type": "ui_text",
        "z": "e0e8e281.8b134",
        "group": "4b146290.cdc09c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "CPUTempState",
        "label": "CPU Temperature Monitor is ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 664.5,
        "y": 544,
        "wires": []
    },
    {
        "id": "7893d064.d95f5",
        "type": "redis-command",
        "z": "e0e8e281.8b134",
        "server": "5cdf40c6.8d85a",
        "command": "get",
        "name": "RedisGET",
        "topic": "",
        "x": 417.5,
        "y": 264,
        "wires": [
            [
                "196d4f97.81048"
            ]
        ]
    },
    {
        "id": "b9b7ca37.8db678",
        "type": "function",
        "z": "e0e8e281.8b134",
        "name": "RedisKey",
        "func": "msg.payload = ['CPUTemp']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 278,
        "y": 264,
        "wires": [
            [
                "7893d064.d95f5"
            ]
        ]
    },
    {
        "id": "d61f9254.a78bc",
        "type": "redis-command",
        "z": "8fd41ebe.5ff24",
        "server": "5cdf40c6.8d85a",
        "command": "set",
        "name": "RedisSET",
        "topic": "",
        "x": 367,
        "y": 246,
        "wires": [
            []
        ]
    },
    {
        "id": "4eedf7d0.423578",
        "type": "function",
        "z": "8fd41ebe.5ff24",
        "name": "CPUTemp",
        "func": "var rand = Math.floor(Math.random() * 10 +30);\nmsg.payload = ['CPUTemp',rand]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 376,
        "y": 209,
        "wires": [
            [
                "d61f9254.a78bc",
                "69c32aa4.afb474"
            ]
        ]
    },
    {
        "id": "196d4f97.81048",
        "type": "ui_gauge",
        "z": "e0e8e281.8b134",
        "name": "TempChart",
        "group": "fef0261c.c3acc8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "C°",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 587.5,
        "y": 263,
        "wires": []
    },
    {
        "id": "8fc80cdd.8a868",
        "type": "function",
        "z": "e0e8e281.8b134",
        "name": "",
        "func": "var newMsg = {payload: msg.payload,topic:msg.topic};\nif(msg.payload){\n    newMsg.payload = 'ON'\n}\nelse{\n    newMsg.payload = 'OFF'\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 493,
        "y": 462,
        "wires": [
            [
                "753b4195.2848a"
            ]
        ]
    },
    {
        "id": "de7b3264.4c9a2",
        "type": "function",
        "z": "e0e8e281.8b134",
        "name": "",
        "func": "var newMsg = {payload: msg.payload,topic:msg.topic};\nif(msg.payload){\n    newMsg.payload = 'ON'\n}\nelse{\n    newMsg.payload = 'OFF'\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 492,
        "y": 544,
        "wires": [
            [
                "d1824814.06b9f8"
            ]
        ]
    },
    {
        "id": "69c32aa4.afb474",
        "type": "file",
        "z": "8fd41ebe.5ff24",
        "name": "logFile",
        "filename": "logFile.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 610.5,
        "y": 279,
        "wires": [
            []
        ]
    },
    {
        "id": "c2eabee0.2a821",
        "type": "ui_template",
        "z": "cd33f719.aa6ac8",
        "group": "c488c0b3.13cb1",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<!--<div layout=\"row\" layout-align=\"space-between\">\n    <div id=”” style=”height: 250px; width:100%;overflow:scroll;”>\n        <p>{{msg.payload}}</p>\n    </div>\n</div>-->\n    <div ng-bind-html=\"msg.payload\" style=”height: 400px; width:100%;overflow:scroll;”></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 589.5,
        "y": 178,
        "wires": [
            []
        ]
    },
    {
        "id": "858121c0.f49a6",
        "type": "file in",
        "z": "cd33f719.aa6ac8",
        "name": "logFile",
        "filename": "logFile.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 439.5,
        "y": 178,
        "wires": [
            [
                "c2eabee0.2a821"
            ]
        ]
    },
    {
        "id": "7ac58ced.ddd394",
        "type": "comment",
        "z": "e0e8e281.8b134",
        "name": "User_rights",
        "info": "Check if the user is allowed to change the Settings is the Control",
        "x": 79.5,
        "y": 482,
        "wires": []
    },
    {
        "id": "e7d6b3e4.c367c",
        "type": "link in",
        "z": "8fd41ebe.5ff24",
        "name": "Driver",
        "links": [
            "fc246902.e24758"
        ],
        "x": 180.5,
        "y": 352,
        "wires": [
            [
                "d2d386ba.b7d908",
                "52bcffe3.daec8",
                "6cf5d872.367ec8"
            ]
        ]
    },
    {
        "id": "fc246902.e24758",
        "type": "link out",
        "z": "e0e8e281.8b134",
        "name": "injectData",
        "links": [
            "e7d6b3e4.c367c",
            "180b07e1.ec3758"
        ],
        "x": 291.5,
        "y": 21,
        "wires": []
    },
    {
        "id": "180b07e1.ec3758",
        "type": "link in",
        "z": "cd33f719.aa6ac8",
        "name": "logFile",
        "links": [
            "fc246902.e24758"
        ],
        "x": 284.5,
        "y": 178,
        "wires": [
            [
                "858121c0.f49a6"
            ]
        ]
    },
    {
        "id": "3c1db1e2.05d6ae",
        "type": "inject",
        "z": "e0e8e281.8b134",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 98.5,
        "y": 34,
        "wires": [
            [
                "fc246902.e24758",
                "8ab46768.f860a8",
                "3e42d0db.a564c",
                "f838cf1b.6f8"
            ]
        ]
    }
]